<p>Bienvenu {{ internaute.prenom }} {{ internaute.nom }} !</p>

<p>Merci de votre inscription sur Canhebergement! Vos identifiant sont: pseudo {{ username }} et mot de passe {{ password }}.</p>
<p>Pour vous connecter, <a href="{{ url('nanotech_canhebergement_client_index') }}">cliquez ici</a></p>

Cordialement,
L'équipe Canhebergement