{% extends "::baseclient.html.twig" %}
{% block title %}{{"Client"|trans }} {% endblock %}
{% block ogtitle %}{{"Canhebergement"|trans }}{% endblock %}


{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 filtre bcl7 mb-5">
                    <div class="row" id="filtre-rech">
                        <div class="mb-3 col-md-12 mt-4">
                            <div class="row">
                                <a href="{{ path('nanotech_canhebergement_client_index') }}" class="col-md-12 critaire no-dec cl9 hcl3"><i class="material-icons cl8 md-18" style="transform:rotate(-90deg)">note</i> Reservation <span class="badge badge-warning">{{ render(controller('NanotechCanhebergementBundle:Client:nbrreser'))}}</span> </a>
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="row">
                                <a href="{{ path('nanotech_canhebergement_client_confirme') }}" class="col-md-12 critaire no-dec cl9 hcl3"><i class="material-icons cl8 md-18">description</i> Reservation Confirmée <span class="badge badge-primary">{{ render(controller('NanotechCanhebergementBundle:Client:nbrreserconfirmer'))}}</span> </a>
                            </div>
                        </div>
                        <div class=" col-md-12 ">
                            <div class="row">
                                <div class="col-md-12 mrb10 critaire point cl9 hcl3"><i class="material-icons cl8 md-18">person</i> Profil </div>
                                <div class="col-md-12 crtCnt cl9">
                                    <div class="col-md-12 mb-2 mt-2">
                                        <a href="{{ path('nanotech_canhebergement_client_profil') }}" class="pl-2 critaire hcl3 no-dec cl9"><i class="material-icons cl8 md-18">info</i> Information</a>
                                    </div>
                                    <div class="form-group col-md-12 mb-0 point tris">
                                        <div class="pl-2  mrb10 critaire point"> <i class="material-icons cl8 md-18">create</i> Modification</div>
                                        <div class="col-md-12 crtCnt cl9">
                                            <div class="col-md-12 mb-0 pb-2 pt-2">
                                                <a href="{{ path('nanotech_canhebergement_client_modifier_info') }}" class="pl-2 critaire hcl3 cl9 no-dec" ><i class="material-icons cl8 md-18">menu</i> Information</a>
                                            </div>
                                            <div class="col-md-12 mb-0 pb-2 pt-2">
                                                <a href="{{ path('nanotech_canhebergement_client_modifier_password') }}" class="pl-2 critaire hcl3 cl9 no-dec" ><i class="material-icons cl8 md-18">lock</i> Mot de passe</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 mb-5">
                    {{ form_start(form , {'method': 'POST'}) }}

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <h5 class="h1-r font-weight-bold cl9 text-uppercase">Modification informations personnelles</h5>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-3 bcl7 ">
                                        <div class="mb-3 text-uppercase md-14 cl8">Détails du client</div>
                                        <div class="form-group position-relative mb-3">
                                            <div class="position-relative md-14"><label for="rsv-nom">Nom*</label></div>
                                            {{ form_widget(form.nom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

                                        </div>
                                        <div class="form-group position-relative mb-3">
                                            <div class="position-relative md-14"><label for="rsv-prn">Prenom*</label></div>
                                            {{ form_widget(form.prenom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

                                        </div>
                                        <div class="form-group position-relative mb-3">
                                            <div class="position-relative md-14"><label for="rsv-prn">Numéro téléphone*</label></div>
                                            {{ form_widget(form.telephone, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                        </div>
                                        <div class="form-group position-relative mb-3">
                                            <div class="position-relative md-14"><label for="rsv-prn">Email*</label></div>
                                            {{ form_widget(form.email, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                        </div>
                                        <div class="form-group position-relative mb-3">
                                            <div class="position-relative md-14"><label for="rsv-prn">Nationalité*</label></div>
                                            {{ form_widget(form.nationalite, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12 mt-2 mb-3">
                                        <div class="p-3 bcl7">
                                            <div class="mb-3 text-uppercase md-14 cl8">Résidence</div>
                                            <div class="form-group position-relative mb-3">
                                                <div class="position-relative md-14"><label for="rsv-nbr">Pays de résidence*</label></div>
                                                <div id="locationFiel">
                                                    {{ form_widget(form.pays, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group position-relative">
                                                <div class="position-relative md-14"><label for="rsv-nbr">Adresse*</label></div>
                                                {{ form_widget(form.adresse, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3 mb-3">
                                        <div class="p-3 bcl7 ">
                                            <div class="mb-3 text-uppercase md-14 cl8">Justificatif</div>
                                            <div class="form-group position-relative mb-3">
                                                <div class="position-relative md-14"><label for="rsv-nom">Type de document*</label></div>
                                                {{ form_widget(form.typedocument, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

                                            </div>
                                            <div class="form-group position-relative mb-3">
                                                <div class="position-relative md-14"><label for="rsv-prn">Numéro du document*</label></div>
                                                {{ form_widget(form.numdocument, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3 text-center">
                            <input type="hidden" name="rsv-id" value="username">
                            <input type="submit" class="pl-3 pr-3 text-uppercase d-inline-block text-white bcl1 allhtl md-12 pl-2 pr-2" value="envoyer">
                        </div>

                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="divider"></div>
        </div>
        <div id="toT" class="toTop text-center" title="remonter"><i class="material-icons">keyboard_arrow_up</i></div>
        <!-- modal-reservation -->

    </section>
{% endblock %}
