{% extends "::baseclient.html.twig" %}
{% block title %}{{"Client"|trans }} {% endblock %}
{% block ogtitle %}{{"Canhebergement"|trans }}{% endblock %}


{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 filtre bcl7 mb-5">
                    <div class="row" id="filtre-rech">
                        <div class="mb-3 col-md-12 mt-4">
                            <div class="row">
                                <a href="{{ path('nanotech_canhebergement_client_index') }}" class="col-md-12 critaire no-dec cl9 hcl3"><i class="material-icons cl8 md-18" style="transform:rotate(-90deg)">note</i> Reservation <span class="badge badge-warning">{{ render(controller('NanotechCanhebergementBundle:Client:nbrreser'))}}</span> </a>
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="row">
                                <a href="{{ path('nanotech_canhebergement_client_confirme') }}" class="col-md-12 critaire no-dec cl9 hcl3"><i class="material-icons cl8 md-18">description</i> Reservation Confirmée <span class="badge badge-primary">{{ render(controller('NanotechCanhebergementBundle:Client:nbrreserconfirmer'))}}</span> </a>
                            </div>
                        </div>
                        <div class=" col-md-12 ">
                            <div class="row">
                                <div class="col-md-12 mrb10 critaire point cl9 hcl3"><i class="material-icons cl8 md-18">person</i> Profil </div>
                                <div class="col-md-12 crtCnt cl9">
                                    <div class="col-md-12 mb-2 mt-2">
                                        <a href="{{ path('nanotech_canhebergement_client_profil') }}" class="pl-2 critaire hcl3 no-dec cl9"><i class="material-icons cl8 md-18">info</i> Information</a>
                                    </div>
                                    <div class="form-group col-md-12 mb-0 point tris">
                                        <div class="pl-2  mrb10 critaire point"> <i class="material-icons cl8 md-18">create</i> Modification</div>
                                        <div class="col-md-12 crtCnt cl9">
                                            <div class="col-md-12 mb-0 pb-2 pt-2">
                                                <a href="{{ path('nanotech_canhebergement_client_modifier_info') }}" class="pl-2 critaire hcl3 cl9 no-dec" ><i class="material-icons cl8 md-18">menu</i> Information</a>
                                            </div>
                                            <div class="col-md-12 mb-0 pb-2 pt-2">
                                                <a href="{{ path('nanotech_canhebergement_client_modifier_password') }}" class="pl-2 critaire hcl3 cl9 no-dec" ><i class="material-icons cl8 md-18">lock</i> Mot de passe</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 mb-5">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <h5 class="h1-r font-weight-bold cl9 text-uppercase">Confirmer la reservation</h5>
                        </div>
                        <div class="col-md-12 mt-3 mb-3">
                            <table class=" table-hover table-responsive">

                                <thead class="bcl7 table-bordered">
                                <tr><th class="dorix cl8 md-16 ">N°</th>
                                    <th class="dorix cl8 md-16">Date d'arrivée</th>
                                    <th class="dorix cl8 md-16">Date de départ</th>
                                    <th class="dorix cl8 md-16">Nombre de chambre</th>
                                    <th class="dorix cl8 md-16">Prix</th>
                                    <th class="dorix cl8 md-16">Equipements</th>
                                    <th class="dorix cl8 md-16">Date</th>
                                </tr></thead>
                                <tbody class="table-bordered">
                                  <tr class="cl8 bcl7">
                                        <td>{{ reser.id }}</td>
                                        <td>{{ reser.dateArrive | date("d/m/Y") }}</td>
                                        <td>{{ reser.dateDepart | date("d/m/Y") }}</td>
                                        <td class="text-right"> <span class="badge badge-info">{{ reser.quantite }}</span></td>
                                        <td><span class="dorix">{{ reser.prix }}</span> XAF</td>

                                        <td>
                                            <ul class="cl8 pl-3">
                                                <li>2 chambre</li>
                                                <li>2 télévion</li>
                                                <li><a href="" class="no-dec" data-toggle="modal" data-target="#modal-dtl"><i class="material-icons dpb2">add</i> Détails</a></li>
                                            </ul>
                                        </td>
                                        <td>{{ reser.dateEnreg | date("d/m/Y") }}</td>
                                  </tr>
                                </tbody>
                            </table>
                            <br>
                            <div class="mb-3 text-uppercase md-14 cl8 ">selectionnez un Moyen de paiement</div>

                            <div class="mt-5 row mb-5">
                                {% for paiment in paiments %}
                                    <div class="col-md-4">
                                        <label for="org" class="mny point">
                                            <img src="{% path paiment.logo, 'big' %}" height="100%">
                                        </label>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
        <div id="toT" class="toTop text-center" title="remonter"><i class="material-icons">keyboard_arrow_up</i></div>
        <!-- modal-reservation -->

        <div class="modal fade" id="modal-dtl" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered pl-3">
                <div class="p-3 position-relative modal-content" style="background-color: #fff; max-width:600px; margin: auto;">
                    <div class="cls-clt point" data-dismiss="modal"><i class="material-icons">close</i></div>
                    <div class="md-16 mb-4 mt-4 cl8 text-uppercase">Reservation <strong> N°21457 </strong></div>

                    <div class="cl8">
                        Equipement de la chambre:
                        <ul class="cl9 mt-2  pl-3">
                            <li>3 Pièce</li>
                            <li>2 lits</li>
                            <li>2 sale de bain</li>
                            <li>Télévision</li>
                            <li>Climatisée</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
