<!DOCTYPE html>
{% set locale = app.request.locale %}
<html lang="{{ locale }}" prefix="og: http://ogp.me/ns#">
    <head>

        <meta charset="UTF-8">
        <meta property="og:locale" content="{{ locale }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Canhebergement | {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
	<meta name="description" content="herbergement ">
	<meta name="author" content="nanotech-solutions">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ asset('can/images/ch.ico') }}">

	<!--  CSS -->
	<link href="{{ asset('can/css/font-awesome.css') }}" rel="stylesheet">
	<link href="{{ asset('can/css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ asset('can/css/animations.css') }}" rel="stylesheet">
	<link href="{{ asset('can/css/bxslider.css') }}" rel="stylesheet">
	<link href="{{ asset('can/css/custom.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('can/css/jquery-ui.min.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ asset('can/css/rangestyle.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('can/css/fotorama.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('can/css/datepicker/bootstrap-datepicker.css') }}"/>
       
</head>
<body>
    
{% include 'layoutrecherche/headerreninitialisation.html.twig' %}
{% block body %}{% endblock %}
{{ render(controller('NanotechCanhebergementBundle:Default:footer'))}}

   <!-- codes js -->
<script type="text/javascript" src="{{ asset('can/js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('can/js/jquery.velocity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('can/js/mdb.js') }}"></script>
<script type="text/javascript" src="{{ asset('can/js/popper.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('can/js/bxslider.js') }}"></script>
<script type="text/javascript" src="{{ asset('can/js/jquery-ui.min.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/rangescriptFiltre.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/rangescriptet.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/custom.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/fotorama.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/datepicker/bootstrap-datepicker.min.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/datepicker/bootstrap-datepicker.fr.min.js') }}" ></script>
</body>
</html>
