<!DOCTYPE html>
{% set locale = app.request.locale %}
<html lang="{{ locale }}" prefix="og: http://ogp.me/ns#">
    <head>

        <meta charset="UTF-8">
        <meta property="og:locale" content="{{ locale }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Canhebergement | {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
	<meta name="description" content="herbergement ">
	<meta name="author" content="nanotech-solutions">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ asset('img/logo1.svg') }}">

	<!--  CSS -->
	<link href="{{ asset('can/css/font-awesome.css') }}" rel="stylesheet">
	<link href="{{ asset('can/css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ asset('can/css/animations.css') }}" rel="stylesheet">
	<link href="{{ asset('can/css/bxslider.css') }}" rel="stylesheet">
	<link href="{{ asset('can/css/custom.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('can/css/jquery-ui.min.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ asset('can/css/rangestyle.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('can/css/fotorama.css') }}"/>
</head>
<body>
    
{% include 'layouthotel/header.html.twig' %}
{% block body %}{% endblock %}
{{ render(controller('NanotechCanhebergementBundle:Default:footer'))}}

   <!-- codes js -->
<script type="text/javascript" src="{{ asset('can/js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('can/js/jquery.velocity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('can/js/mdb.js') }}"></script>
<script type="text/javascript" src="{{ asset('can/js/popper.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('can/js/bxslider.js') }}"></script>
<script src="{{ asset('can/js/jquery-ui.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('can/js/rangescript.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/rangescriptet.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/custom.js') }}" ></script>
<script type="text/javascript" src="{{ asset('can/js/fotorama.js') }}" ></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK0V1K6eya1M35KgHRT6q2XOP-1uV9Czo&callback=initMap"
    async defer></script>
<script type="text/javascript">

	var nomEta="{{ partenaire.nom }}";

	var pos = {lat: {{ partenaire.coordx }}, lng: {{ partenaire.coordy }}};
    var nbr = 8;
	function initMap() {
	    var map = new google.maps.Map(document.getElementById('loc'), {
	        center: pos,
	        zoom: 10,
	    });
		var contentString='<div id="content">'+
	            '<div id="siteNotice">'+
	            '</div>'+
	            '<h5 id="firstHeading" class="firstHeading">'+nomEta+'</h5>'+
	            '</div>';

	    var infowindow = new google.maps.InfoWindow({
	        content: contentString,
	        maxWidth: 500
	        });
		var marker = new google.maps.Marker({
		    map: map,
		    position: pos,
		    draggable: false, //tu met cette valeur à false dans la page qui affiche la map
		    title: 'Nom position',
		    animation: google.maps.Animation.DROP
		});
	    infowindow.open(map, marker);
	}
	$(function(){ 

		$('.btn-vpcd').click(function(e){
			e.preventDefault();
			$('#list-cmbd').append('<div class="spin pt-4 spin-cmb"></div>');
			$('#cnt-lst-cmb').find('.aff-vpcd').remove();
		});
		$('.btn-apdc').click(function(e){
			e.preventDefault();
			$('#list-cmt').append('<div class="spin pt-4 spin-cmt"></div>');
            //$('#cnt-lst-cmt').find('.aff-apdc').remove();
			var lien = "{{ path('nanotech_canhebergement_hotel',{'slug':partenaire.slug}) }}"
			lien = lien + "/"+nbr;
            $.get(lien,function(data){
                console.log(data);
                $('#list-cmt').html(data);
                nbr = nbr + 4;
            });

		});

	});
	

</script>
    
</body>
</html>
