{% extends "::facture.html.twig" %}


{% block body %}


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-5">
                        <div class="col-md-12 mb-3">
                            <div class="row">
                                <div class="col-md-4 mb-2 text-left ">
                                    <h4 class="text-uppercase cl1 "><span class="dorix"> <span class="jaune"> CAN</span>HEBERGEMENT</span></h4>
                                </div>
                                <div class="col-md-8 text-right">
                                    <h4 class="text-uppercase cl1 dorix">NUMERO DE RESERVATION N° {{ reservationconfirmer.id }}</h4>
                                </div>
                            </div>

                        </div>
                        <div class="mt-2 mb-2 col-12 p-3 bcl7">
                            <div class="row">
                                <div class="col-md-9 mb-2">
                                    <h4 class="text-uppercase cl1">{{ reservationconfirmer.reservation.piece.partenaire.nom  }}</h4>
                                    <div class="cl82">
                                        BP {{ reservationconfirmer.reservation.piece.partenaire.boitPost }} <br>
                                        TEL: (+237) {{ reservationconfirmer.reservation.piece.partenaire.numTel1 }} / {{ reservationconfirmer.reservation.piece.partenaire.numTel2 }} / {{ reservationconfirmer.reservation.piece.partenaire.numTel3  }} <br>
                                        {{ reservationconfirmer.reservation.piece.partenaire.adrEmail }} <br>
                                    </div>
                                </div>
                                <div class="col-md-3 text-right ">
                                    <a href="#"><img style="width: 50%" class="bcl1" src="{{ asset('can/images/logo1.svg') }}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mb-2 col-12 p-3 bcl5">
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-6 pt-2 pb-2">
                                    <h5 class="h1-r cl9">Date arrivée</h5>
                                    <h5 class="h1-r cl9 font-weight-bold">{{ reservationconfirmer.reservation.dateArrive | date("d-M-Y") }}</h5>
                                </div>
                                <div class="col-md-3 col-sm-4 col-6 pt-2 pb-2">
                                    <h5 class="h1-r cl9">Date départ</h5>
                                    <h5 class="h1-r cl9 font-weight-bold">{{ reservationconfirmer.reservation.dateDepart | date("d-M-Y") }}</h5>
                                </div>
                                <div class="col-md-3 col-sm-4 col-6 pt-2 pb-2">
                                    <h5 class="h1-r cl9">Nombre de nuits</h5>
                                    <h5 class="h1-r cl3 font-weight-bold">01</h5>
                                </div>
                                <div class="col-md-3 col-sm-4 col-6 pt-2 pb-2">
                                    <h5 class="h1-r cl9">Prix  payé</h5>
                                    <h5 class="h1-r cl3 font-weight-bold">{{ reservationconfirmer.prix  }} XAF</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mb-2 col-12 p-3 bcl7">
                            <div class="row">
                                <div class="col-md-6 pb-1">
                                    <h4 class="cl9 font-weight-bold">{{ reservationconfirmer.reservation.piece.nomFr | upper }}</h4>
                                    <h6 class=" cl9 mb-3">Client: {{ reservationconfirmer.reservation.internaute.prenom | upper  }} {{ reservationconfirmer.reservation.internaute.nom |upper }}</h6>
                                    <div class="cl82 mb-3">
                                        douche - climatisation - articles de toilette gratuits -
                                        toilettes - salle de bains - chaînes de câble - télévision à
                                        écran plat - armoire / penderie - serviettes - étendoir
                                    </div>
                                    <h6 class=" cl9 mb-2 font-weight-bold">Chambre réservée :</h6>
                                    <div class="cl82">

                                    </div>
                                </div>
                                <div class="col-md-6 pt-1 ">
                                    <h6 class=" cl9 mb-2 font-weight-bold">Prépaiement / Dépôt de garantie :</h6>
                                    <div class="cl82 mb-4">
                                        L'établissement demande un prépaiement à l'arrivée.
                                    </div>
                                    <h6 class=" cl9 mb-2 font-weight-bold">Frais d'annulation :</h6>
                                    <div class="cl82">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mb-2 col-md-12 ">
                            <div class="row brd-btm brd-tp">
                                <div class="col-md-6 mb-4  mt-4">
                                    <h5 class=" cl9 mb-2 font-weight-bold">Chambre réservée :</h5>
                                    <div class="cl82 mb-3">
                                        Veuillez noter qu'à l'arrivée, vous devez présenter une carte de crédit
                                        pour garantir la réservation. Les personnes sans carte de crédit sont
                                        tenues de payer la totalité de leur séjour en espèces.
                                    </div>
                                    <div class="cl82 mb-3">
                                        Veuillez noter que pour tous les séjours, les chambres sont
                                        nettoyées tous les jours. Le linge et les serviettes de toilette
                                        sont également remplacés chaque jour.
                                    </div>
                                    <div class="cl82">
                                        Veuillez noter que le ménage est compris, quelle que soit la durée
                                        de votre séjour.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4  mt-4">
                                    <h6 class=" cl9 mb-2 font-weight-bold">Stationnement</h6>
                                    <div class="cl82 mb-4">
                                        - L'établissement dispose d'un parking gardé.
                                    </div>
                                    <h6 class=" cl9 mb-2 font-weight-bold">Internet</h6>
                                    <div class="cl82 mb-4">
                                        - Une connexion WIFI est disponible dans tout l'établissement
                                        gratuitement.
                                    </div>
                                    <h6 class=" cl9 font-weight-bold">Enfants et lits d'appoint</h6>
                                    <div class="cl82">
                                        - Tous les enfants sont les bienvenus. <br>
                                        - Un lit d'appoint peut être installé dans la chambre.
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6 mb-4  mt-4">
                                    <h5 class=" cl9 mb-3 font-weight-bold">Cameroun - Formalités d’entrée</h5>
                                    <div class="cl82 mb-3">
                                        <strong>le Visa d'entrée</strong><br>
                                        Un visa touristique est délivré par les représentations diplomatiques
                                        et consulaires aux ressortissants étrangers venant effectuer un
                                        voyage d’agrément. Sa validité est de 30 jours non renouvelable,
                                        avec plusieurs entrées et sorties possibles.
                                    </div>
                                    <div class="cl82 mb-3">
                                        Les touristes en provenance de pays où Cameroun n’est pas
                                        représenté peuvent obtenir ce visa au poste frontière de leur lieu
                                        d’entrée (idem pour les touristes en voyages organisés).
                                    </div>
                                    <div class="cl82">
                                        <strong>les pièces requises pour obtenir un visa touristique</strong><br>
                                        <ul>
                                            <li>Un passeport en cours de validité </li>
                                            <li>Un billet d’avion aller / retour</li>
                                            <li>Un certificat international de vaccination (fièvre jaune)</li>
                                            <li>Deux photos d’identité récentes</li>
                                            <li>Une réservation d’hôtel, ou – si vous comptez résider chez l’habitant,
                                                le certificat d’hébergement que la personne qui vous accueille aura
                                                fait légaliser dans sa commune</li>
                                            <li> Un formulaire de demande de visa retiré au consulat</li>
                                            <li>Les frais de timbres, vendus au consulat.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4  mt-4">
                                    <h5 class=" cl9 mb-3 font-weight-bold">Santé : les vaccins</h5>
                                    <div class="cl82 mb-4">
                                        Le seul vaccin obligatoire est le vaccin contre la fièvre jaune.
                                        Il doit être fait au plus tard 10 jours avant le départ.
                                        Il est valable 10 ans.
                                    </div>
                                    <h5 class=" cl9 mb-3 font-weight-bold">Santé : les médicaments</h5>
                                    <div class="cl82 mb-3">
                                        Demandez à votre médecin :
                                        <ul>
                                            <li>un traitement préventif du paludisme</li>
                                            <li>des médicaments efficaces en cas de diarrhées sérieuses</li>
                                            <li>des antibiotiques à titre préventif</li>
                                            <li>des antidouleurs</li>
                                            <li>si vous voyagez dans le nord et l’extrême-nord Cameroun,
                                                des vents chargés de sable soufflent parfois : il conviendra
                                                de protéger vos yeux et de les soulager avec des dosettes
                                                de collyre apaisant. Les lentilles sont déconseillées dans
                                                ce cas.</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>

    </section>
{% endblock body %}
