{% extends "::basehotel.html.twig" %}
{% block title %}{{"Hotel"|trans }} {% endblock %}
{% block ogtitle %}{{"Canhebergement"|trans }}{% endblock %}
{% block body %}

    <section>
        <div class="container">	
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">A propos de Nom établissement</h4>
                        </div>
                        <div class="col-md-12 mt-3 cl8">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <p class="mt-2">n ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit </p>
                        </div>
                        <div class="col-md-12 mb-5">
                            <div id="loc" class="mt-2 mb-2">
                            </div>
                            <div><span class="font-weight-bold cl12">TELEHONE:</span> (+237) 254 521 368</div>
                            <div class="mt-2"><span class="font-weight-bold cl12">EMAIL:</span> email@gmail.com</div>
                            <div class="mt-2"><span class="font-weight-bold cl12 ">ADRESSE:</span> Yaoundé, Quartier Soa</div>
                        </div>

                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6 cart mb-4">
                            <div class="cart-top hepart position-relative " style="background-image: url('{{ asset('can/images/1.jpg') }}');">
                                <div class="cart-couv"></div>
                                <span class="cart-nm p-4 font-weight-bold d-inline-block text-white">carte</span>
                                <span class="cart-logo float-right p-4">
                                    <svg class="cl91 wh50"  >
                                    <use xlink:href="images/global.svg#svg-plateau"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="cart-middle p-4 bg-jaune cl13 md-24">Restaurant</div>
                            <div class="cart-bottom">
                                <div class="cart-flle pt-2 pl-4 cl8 font-weight-bold">Famille de la carte</div>
                                <div class="cart-desc p-4">
                                    <div class="cart-type md-24 font-weight-light ">Type de la carte</div>
                                    <div class="cart-text cl8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. laborum.</div>
                                </div>
                                <div class="cart-prx p-4 text-right">
                                    <span class="cl8">XAF</span>
                                    <span class="md-24  font-weight-normal cl9">5000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 cart mb-4">
                            <div class="cart-top hepart position-relative " style="background-image: url({{ asset('can/images/1.jpg') }});">
                                <div class="cart-couv"></div>
                                <span class="cart-nm p-4 font-weight-bold d-inline-block text-white">carte</span>
                                <span class="cart-logo float-right p-4">
                                    <svg class="cl91 wh50"  >
                                    <use xlink:href="{{ asset('can/images/global.svg#svg-verre') }}"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="cart-middle p-4 bcl1 cl13 md-24 cl91">Bar</div>
                            <div class="cart-bottom">
                                <div class="cart-flle pt-2 pl-4 cl8 font-weight-bold">Famille de la carte</div>
                                <div class="cart-desc p-4">
                                    <div class="cart-type md-24 font-weight-light ">Type de la carte</div>
                                    <div class="cart-text cl8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. laborum.</div>
                                </div>
                                <div class="cart-prx p-4 text-right">
                                    <span class="cl8">XAF</span>
                                    <span class="md-24  font-weight-normal cl9">22000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">Service</h4>
                        </div>
                        <div class="col-md-6 mt-3 mb-3 ">
                            <div>
                                <div class="srve text-center mb-2"><img style="width: 34px" src="{{ asset('can/images/caffe.svg') }}"> <br>
                                    <span class="cl8">Restaurant</span>
                                </div>
                                <div class="srve text-center mb-2"><img style="width: 34px" src="{{ asset('can/images/cocktail.svg') }}"> <br>
                                    <span class="cl8">Service2</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/cheers.svg') }}"> <br>
                                    <span class="cl8">Service3</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/fruit.svg') }}"> <br>
                                    <span class="cl8">Service4</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/fruit.svg') }}"> <br>
                                    <span class="cl8">Service5</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/fruit.svg') }}"> <br>
                                    <span class="cl8">Service6</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/fruit.svg') }}"> <br>
                                    <span class="cl8">Service7</span>
                                </div>
                            </div>
                            <div>
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <h4 class="h1-r font-weight-bold cl8" id="nom">Equipement général</h4>
                                    </div>
                                    <div class="col-md-12 mt-3 mb-3 cl8">
                                        <div class="srve text-center"><img style="width: 34px" src="{{ asset('can/images/wifi.svg') }}"> <br>
                                            <span class="cl8">Wifi</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 ">
                            <div class="ovh" style="max-height:500px">
                                <div class="fotorama" data-allowfullscreen="true" data-arrows="false" data-loop="true" data-width="100%" data-max-width="100%" data-nav="thumbs" >
                                    <img src="{{ asset('can/images/1.jpg') }}">
                                    <img src="{{ asset('can/images/2.jpg') }}">
                                    <img src="{{ asset('can/images/3.jpg') }}">
                                    <img src="{{ asset('can/images/1.jpg') }}">
                                    <img src="{{ asset('can/images/2.jpg') }}">
                                    <img src="{{ asset('can/images/3.jpg') }}">
                                    <img src="{{ asset('can/images/2.jpg') }}">
                                    <img src="{{ asset('can/images/3.jpg') }}">
                                    <img src="{{ asset('can/images/1.jpg') }}">
                                    <img src="{{ asset('can/images/2.jpg') }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-5 row">
                            <div class="col-md-12">
                                <h4 class="h1-r font-weight-bold cl8" id="nom">Proximité</h4>
                            </div>
                            <div class="col-md-4 mb-3 cl8 ">
                                <ul>
                                    <li class="">GARE<span class="ml-2">(1 km)</span></li>
                                    <li class="">AEROPORT<span class="ml-2">(2 km)</span></li>
                                    <li class="">HOPITAL<span class="ml-2">(0.5 km)</span></li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-3  cl8 ">
                                <ul>
                                    <li class="">OCEAN<span class="ml-2">(3 km)</span></li>
                                    <li class="">STADE<span class="ml-2">(5 km)</span></li>
                                    <li class="">HOPITAL<span class="ml-2">(0.5 km)</span></li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-3 cl8 ">
                                <ul>
                                    <li class="">ECOLE<span class="ml-2">(10 km)</span></li>
                                    <li class="">SUPER MARCHE<span class="ml-2">(1 km)</span></li>
                                    <li class="">RESTAURANT<span class="ml-2">(0.2 km)</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="cnt-lst-cmb" class="row mb-4">
                        <div class="col-md-12">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">Chambre disponible <span class="md-14 cl8 ">(04)</span></h4>
                        </div>
                        <div id="list-cmbd" class="col-md-12 mt-3 mb-3">
                            <div class="col-md-12">
                                <div id="14" class="row inpl chmb" style="min-height: 200px">
                                    <div class="col-md-9 pt-2 pb-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div><h5 class="h1-r">Chambre standard</h5>
                                                    <span class="cl8">Chambre restante - <span class="cl3 md-16">03</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class=" pb-4">Equipement de la chambre:
                                                    <ul class="cl8">
                                                        <li>2 Lits</li>
                                                        <li>Télévision</li>
                                                        <li>Sale de bain</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="cl8 col-md-12"><span class="cl3 md-20" style="font-weight:500"> 15 500 </span>XAF par nuit</div>
                                        </div>
                                        <div> <a href="reservation.html" class="btn btn-primary md-12 float-right mt-3" >Reserver la chambre</a></div>
                                    </div>
                                    <div class="col-md-3" style="background-position:center top;background-size: cover; background-image: url({{ asset('can/images/2.jpg') }});"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 dividers"></div>
                        <div class="col-md-12 text-center mb-sm-3 aff-vpcd"><a href="#" class="allhtl md-12 btn-vpcd"><i class="material-icons mr-2 dpb2">add</i> VOIR PLUS DE CHAMBRE DISPONIBLE</a></div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 mt-5">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">Récommandation</h4>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12 mb-4 mt-3 point conthtl" id="hotel.html">
                            <div class="inp" style="height: 150px; background-image: url({{ asset('can/images/3.jpg') }});background-position:center top;background-size: cover;">
                            </div>
                            <div class="mt-3"> Nom établissement</div>

                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i><br>
                            <span class="cl8 font-weight-bold"> A partir de 222.000 XAF </span><br>
                            <span class="md-13 cl3"><i class="material-icons dpb2">place</i>  Soa - Yaoundé <br> </span>

                        </div>
                        <div class="col-md-3 col-sm-6 col-12 mb-4 mt-3 point conthtl" id="hotel.html">
                            <div class="inp" style="height: 150px; background-image: url({{ asset('can/images/1.jpg') }});background-position:center top;background-size: cover;">
                            </div>
                            <div class="mt-3"> Nom établissement</div>

                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i><br>
                            <span class="cl8 font-weight-bold"> A partir de 222.000 XAF </span><br>
                            <span class="md-13 cl3"><i class="material-icons dpb2">place</i>  Soa - Yaoundé <br> </span>

                        </div>
                        <div class="col-md-3 col-sm-6 col-12 mb-4 mt-3 point conthtl" id="hotel.html">
                            <div class="inp" style="height: 150px; background-image: url({{ asset('can/images/2.jpg') }});background-position:center top;background-size: cover;">
                            </div>
                            <div class="mt-3"> Nom établissement</div>

                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i><br>
                            <span class="cl8 font-weight-bold"> A partir de 222.000 XAF </span><br>
                            <span class="md-13 cl3"><i class="material-icons dpb2">place</i>  Soa - Yaoundé <br> </span>

                        </div>
                    </div>
                    <div  id="cnt-lst-cmt" class="row mb-5 mt-5">
                        <div class="col-md-12 ">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">Commentaire</h4>
                        </div>
                        <div id="list-cmt" class="col-md-12">
                            <div class="cmt-item mt-3">
                                <div class="font-weight-bold cl9">Nom personne </div>
                                <div class="cl8 md-10 pb-2">Publier le 12/01/2018</div>
                                <div class="cl8 brd-btm pb-3 cnt-cmt">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip . Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </div>
                            </div>
                            <div class="cmt-item mt-3">
                                <div class="font-weight-bold cl9">Nom personne </div>
                                <div class="cl8 md-10 pb-2">Publier le 12/01/2018</div>
                                <div class="cl8 brd-btm pb-3 cnt-cmt">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 pt-4 aff-apdc"><a href="#" class="allhtl md-12 btn-apdc"><i class="material-icons mr-2 dpb2">add</i>Afficher plus de commentairee</a></div>
                    </div>
                    <div class="row mb-5 mt-5">
                        <div class="col-md-12 ">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">Laisser un commentaire</h4>
                        </div>
                        <form class="col-md-12 mt-3">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input class="md-13 contact" type="text" id="nom" name="nom" placeholder="Votre nom" style="width: 100%">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="p-3 contact" rows="5" id="cmt" name="cmt" placeholder="Votre commentaire..."></textarea>
                                </div>
                                <div class="col-md-12 text-center"><a href="#" class="allhtl md-12"><i class="material-icons mr-2 dpb2">send</i>ENVOYEZ</a></div>
                        </form>
                        <div class="col-md-12 coments">
                            <div class="cmt-nm"></div>
                            <div class="cmt-msg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
        </div>
        <div  id="toT" class="toTop text-center" title="remonter"><i class="material-icons">keyboard_arrow_up</i></div>
        <div class="logn bcl1">
            <div class="clsl point"><i class="material-icons">close</i></div>
            <div class="col-md-4 offset-md-4 lognc" style="color:#fff">
                <div class="mt-4">
                    <div>
                        <h2 class="h1-r jaune">LOGIN RESERVATION</h2>
                        <p>Pour voir vos précédentes réservations, veuillez entrez
                            les informations qui vous ont été envoyées par mail.
                        </p>
                        <p class="md-12 cl3 error">Les informations que vous avez entrer ne sont pas correct.</p>
                    </div>
                    <div>
                        <form>
                            <div class="heiI inp mt-4">
                                <span class="material-icons cl12 labrech">account_circle</span>
                                <input class="md-13 inrech" type="text" id="login" name="login" placeholder="Identifiant">
                            </div>
                            <div class="heiI inp mt-4">
                                <span class="material-icons cl12 labrech">lock</span>
                                <input class="md-13 inrech" type="text" id="login" name="login" placeholder="Mot de passe">
                            </div>
                            <button class="btn btn-outline-warning mt-4 md-12">Se connecter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
