{% extends "::basehotel.html.twig" %}
{% block title %}{{"Hotel"|trans }} {% endblock %}
{% block ogtitle %}{{"Canhebergement"|trans }}{% endblock %}
{% block body %}

    <section>
        <div class="container">	
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">A propos de {{ partenaire.nom }}</h4>
                        </div>
                        <div class="col-md-12 mt-3 cl8">
                            {{ partenaire.descriptionFr | raw}}
                        </div>
                        <div class="col-md-12 mb-5">
                            <div id="loc" class="mt-2 mb-2">
                            </div>
                            <div><span class="font-weight-bold cl12">TELEHONE:</span> {{ partenaire.numTel1 }}, {{ partenaire.numTel2 }}, {{ partenaire.numTel3 }}</div>
                            <div class="mt-2"><span class="font-weight-bold cl12">EMAIL:</span> {{ partenaire.adrEmail }}</div>
                            <div class="mt-2"><span class="font-weight-bold cl12 ">ADRESSE:</span> {{partenaire.quartier}}, {{partenaire.ville}}, {{partenaire.pays}}</div>
                        </div>

                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6 cart mb-4">
                            <div class="cart-top hepart position-relative " style="background-image: url('{{ asset('can/images/1.jpg') }}');">
                                <div class="cart-couv"></div>
                                <span class="cart-nm p-4 font-weight-bold d-inline-block text-white">carte</span>
                                <span class="cart-logo float-right p-4">
                                    <svg class="cl91 wh50"  >
                                    <use xlink:href="images/global.svg#svg-plateau"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="cart-middle p-4 bg-jaune cl13 md-24">Restaurant</div>
                            <div class="cart-bottom">
                                <div class="cart-flle pt-2 pl-4 cl8 font-weight-bold">Famille de la carte</div>
                                <div class="cart-desc p-4">
                                    <div class="cart-type md-24 font-weight-light ">Type de la carte</div>
                                    <div class="cart-text cl8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. laborum.</div>
                                </div>
                                <div class="cart-prx p-4 text-right">
                                    <span class="cl8">XAF</span>
                                    <span class="md-24  font-weight-normal cl9">5000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 cart mb-4">
                            <div class="cart-top hepart position-relative " style="background-image: url({{ asset('can/images/1.jpg') }});">
                                <div class="cart-couv"></div>
                                <span class="cart-nm p-4 font-weight-bold d-inline-block text-white">carte</span>
                                <span class="cart-logo float-right p-4">
                                    <svg class="cl91 wh50"  >
                                    <use xlink:href="{{ asset('can/images/global.svg#svg-verre') }}"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="cart-middle p-4 bcl1 cl13 md-24 cl91">Bar</div>
                            <div class="cart-bottom">
                                <div class="cart-flle pt-2 pl-4 cl8 font-weight-bold">Famille de la carte</div>
                                <div class="cart-desc p-4">
                                    <div class="cart-type md-24 font-weight-light ">Type de la carte</div>
                                    <div class="cart-text cl8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. laborum.</div>
                                </div>
                                <div class="cart-prx p-4 text-right">
                                    <span class="cl8">XAF</span>
                                    <span class="md-24  font-weight-normal cl9">22000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">Service</h4>
                        </div>
                        <div class="col-md-6 mt-3 mb-3 ">
                            <div>
                                <div class="srve text-center mb-2"><img style="width: 34px" src="{{ asset('can/images/caffe.svg') }}"> <br>
                                    <span class="cl8">Restaurant</span>
                                </div>
                                <div class="srve text-center mb-2"><img style="width: 34px" src="{{ asset('can/images/cocktail.svg') }}"> <br>
                                    <span class="cl8">Service2</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/cheers.svg') }}"> <br>
                                    <span class="cl8">Service3</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/fruit.svg') }}"> <br>
                                    <span class="cl8">Service4</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/fruit.svg') }}"> <br>
                                    <span class="cl8">Service5</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/fruit.svg') }}"> <br>
                                    <span class="cl8">Service6</span>
                                </div>
                                <div class="srve text-center  mb-2"><img style="width: 34px" src="{{ asset('can/images/fruit.svg') }}"> <br>
                                    <span class="cl8">Service7</span>
                                </div>
                            </div>
                            <div>
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <h4 class="h1-r font-weight-bold cl8" id="nom">Equipement général</h4>
                                    </div>
                                    <div class="col-md-12 mt-3 mb-3 cl8">
                                        <div class="srve text-center"><img style="width: 34px" src="{{ asset('can/images/wifi.svg') }}"> <br>
                                            <span class="cl8">Wifi</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 ">
                            <div class="ovh" style="max-height:500px">
                                <div class="fotorama" data-allowfullscreen="true" data-arrows="false" data-loop="true" data-width="100%" data-max-width="100%" data-nav="thumbs" >


                                    <img src="{{ asset('can/images/2.jpg') }}">
                                    {% for image in partenaire.image.galleryHasMedias %}
                                        <img src="{% path image.media, 'big' %}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-5 row">
                            <div class="col-md-12">
                                <h4 class="h1-r font-weight-bold cl8" id="nom">Proximité</h4>
                            </div>
                            <div class="col-md-4 mb-3 cl8 ">
                                <ul>
                                    <li class="">GARE<span class="ml-2">(1 km)</span></li>
                                    <li class="">AEROPORT<span class="ml-2">(2 km)</span></li>
                                    <li class="">HOPITAL<span class="ml-2">(0.5 km)</span></li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-3  cl8 ">
                                <ul>
                                    <li class="">OCEAN<span class="ml-2">(3 km)</span></li>
                                    <li class="">STADE<span class="ml-2">(5 km)</span></li>
                                    <li class="">HOPITAL<span class="ml-2">(0.5 km)</span></li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-3 cl8 ">
                                <ul>
                                    <li class="">ECOLE<span class="ml-2">(10 km)</span></li>
                                    <li class="">SUPER MARCHE<span class="ml-2">(1 km)</span></li>
                                    <li class="">RESTAURANT<span class="ml-2">(0.2 km)</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="cnt-lst-cmb" class="row mb-4">
                        <div class="col-md-12">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">Logement disponible <span class="md-14 cl8 ">(04)</span></h4>
                        </div>
                        <div id="list-cmbd" class="col-md-12 mt-3 mb-3">
                            <div class="col-md-12">
                                <div id="14" class="row inpl chmb" style="min-height: 200px">
                                    <div class="col-md-9 pt-2 pb-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div><h5 class="h1-r">Chambre standard</h5>
                                                    <span class="cl8">Chambre restante - <span class="cl3 md-16">03</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class=" pb-4">Equipement de la chambre:
                                                    <ul class="cl8">
                                                        <li>2 Lits</li>
                                                        <li>Télévision</li>
                                                        <li>Sale de bain</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="cl8 col-md-12"><span class="cl3 md-20" style="font-weight:500"> 15 500 </span>XAF par nuit</div>
                                        </div>
                                        <div> <a href="{{ path('nanotech_canhebergement_reserver') }}" class="btn btn-primary md-12 float-right mt-3" >Reserver la chambre</a></div>
                                    </div>
                                    <div class="col-md-3" style="background-position:center top;background-size: cover; background-image: url({{ asset('can/images/2.jpg') }});"></div>
                                </div>
                            </div>
                        </div>
                        <div id="list-cmbd" class="col-md-12 mt-3 mb-3">
                            <div class="col-md-12">
                                <div id="14" class="row inpl chmb" style="min-height: 200px">
                                    <div class="col-md-9 pt-2 pb-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div><h5 class="h1-r">Chambre standard</h5>
                                                    <span class="cl8">Chambre restante - <span class="cl3 md-16">03</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class=" pb-4">Equipement de la chambre:
                                                    <ul class="cl8">
                                                        <li>2 Lits</li>
                                                        <li>Télévision</li>
                                                        <li>Sale de bain</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="cl8 col-md-12"><span class="cl3 md-20" style="font-weight:500"> 15 500 </span>XAF par nuit</div>
                                        </div>
                                        <div> <a href="{{ path('nanotech_canhebergement_reserver') }}" class="btn btn-primary md-12 float-right mt-3" >Reserver la chambre</a></div>
                                    </div>
                                    <div class="col-md-3" style="background-position:center top;background-size: cover; background-image: url({{ asset('can/images/2.jpg') }});"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 dividers"></div>
                    </div>
                    <div  id="cnt-lst-cmt" class="row mb-5 mt-5">
                        <div class="col-md-12 ">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">Commentaire</h4>
                        </div>
                        <div id="list-cmt" class="col-md-12">
                            {% for com in commentaire %}
                                <div class="cmt-item mt-3">
                                    <div class="font-weight-bold cl9">{{ com.internaute }}</div>
                                    <div class="cl8 md-10 pb-2">Publier le {{ com.dateEnreg |date("d/m/Y")  }}</div>
                                    <div class="cl8 brd-btm pb-3 cnt-cmt">
                                        {{ com.description }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-md-12 pt-4 aff-apdc">
                            <a href="#" class="allhtl md-12 btn-apdc">
                                <i class="material-icons mr-2 dpb2">add</i>
                                Afficher plus de commentaire
                            </a>
                        </div>
                    </div>
                    <div class="row mb-5 mt-5">
                        <div class="col-md-12 ">
                            <h4 class="h1-r font-weight-bold cl8" id="nom">Laisser un commentaire</h4>
                        </div>
                        {{ form_start(form,{'attr':{'class':'col-md-12 mt-3'}}) }}
                        <div class="row">
                            <div class="form-group col-md-6">
                                {{ form_widget(form.internaute, {'attr': {'class': 'md-13 contact'}}) }}
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_widget(form.description, {'attr': {'class': 'p-3 contact'}}) }}
                            </div>

                        </div>
                        <div class="col-md-12 text-center">

                        {{ form_widget(form.save, {'attr': {'class': 'allhtl md-12'}}) }}
                        </div>
                        {{ form_rest(form) }}

                        {# Fermeture de la balise <form> du formulaire HTML #}
                        {{ form_end(form) }}

                        <div class="col-md-12 coments">
                            <div class="cmt-nm"></div>
                            <div class="cmt-msg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
        </div>
        <div  id="toT" class="toTop text-center" title="remonter"><i class="material-icons">keyboard_arrow_up</i></div>


    </section>


{% endblock %}
