{% extends "::base.html.twig" %}

{% block title %}{{"Accueil"|trans }} {% endblock %}
    {% block ogtitle %}{{"Canhebergement"|trans }}{% endblock %}
       {% block body %}
    <section>
	<div class="container">

        {% for categorie in categories %}
	<div class="row">


		<div class="col-md-12"><h3 class="cl1 text-center">{{ categorie.nomFr | upper }}</h3></div>
		
		  {% for partenaire in categorie.partenaire %}
			  {% if partenaire.enable %}
			  <div class="col-md-4 mt-sm-3 point conthtl mb-sm-3" id="{{ path('nanotech_canhebergement_hotel',{'slug':partenaire.slug}) }}">
			<div class="htl" >
				<div class="htlin" style="background-image: url({% path partenaire.image.galleryHasMedias[0].media, 'big' %});"></div>
				<div class="couvr jaune md-18" >
					{% for i in range(1,partenaire.nbrEtoile) %}
						<i class="material-icons">star</i>
					{% endfor %}
				</div>
			</div>
			<p> <h5 class="nhtl">{{partenaire.nom}}</h5></p>
			<p>
				<span class="md-13 cl3"><i class="material-icons">place</i>  {{partenaire.quartier}}, {{partenaire.ville}}, {{partenaire.pays}}  <br> </span>
				<span class="desch">{{partenaire.descriptionFr | slice(0,150) | raw }}...</span><br>
				{% for service in partenaire.services %}
					<span class=" text-center srv"><img style="width: 24px" src="{{ asset(service.code) }}"></span>
				{% endfor %}
			</p>
		</div>
			  {% endif %}
                        {% endfor %}
		<div class="col-md-12 dividers"></div>
		<div class="col-md-12 text-center mb-sm-3"><a href="#" class="allhtl md-12"><i class="material-icons mr-2 dpb2">visibility</i>VOIR TOUS LES {{ categorie.nomFr|upper }}</a></div>
	</div>
	<div class="divider"></div>

        {% endfor %}

	<div class="row">
		<div class="col-md-12 mt-sm-5"><h3 class="cl1 text-center">CONTACTEZ NOUS</h3></div>
		<form class="col-md-12 mt-sm-2" method="post" action="#">
			<div class="row">
				<div class="form-group col-md-6">
					<input class="md-13 contact" type="email" id="nom" name="email" required placeholder="Votre email" style="width: 100%">
				</div>
				<div class="form-group col-md-6">
					<input class="md-13 contact" type="text" id="tel" name="nom" placeholder="Votre nom" style="width: 100%">
				</div>
				<div class="form-group col-md-12">
					<textarea  class="contact" rows="5" id="msg" name="msg" placeholder="Votre message" style="width: 100%">
					</textarea>
				</div>
				<div class="col-md-12 text-center">
					<input type="submit" class="allhtl md-12"  value="ENVOYEZ">
				</div>
			</div>
		</form>
	</div>
	</div>
	<div  id="toT" class="toTop text-center" title="remonter"><i class="material-icons">keyboard_arrow_up</i></div>

</section>
<section>
	<div class="container-fluid ">
		<div class="divider"></div>
		<div class="row bcl5">
			<div class="col-md-12 mt-sm-5"><h3 class="cl1 text-center">{{ 'Ce qu\'ils disent de nous' | upper}}</h3></div>
			<div class="container mt-3 pb-4">
				<div class="row">
                                     {% for comclient in comclients %}
					<div class="col-md-3 col-12 col-sm-6">
						<div style="background-image: url({% path comclient.image, 'big' %})" class="hepart"></div>
						<div class="nm font-weight-bold  mt-2 dorix">{{comclient.nom}} <br> <span class="cl8">{{comclient.fonction}}</span></div>
						<div class="cl8 mt-2 mb-3">{{comclient.descriptionFr}}
						</div>
					</div>
                                                {% endfor %}
				</div>
				<div class="divider"></div>
			</div>
		</div>
	</div>

    {{ render(controller('NanotechCanhebergementBundle:Default:loginreservation'))}}

</section>

    


{% endblock %}
