<div class="col-sm-12 headTop2" id="headTop">
	<div class="container-fluid ">
		<div class="row ">
			<div class=" col-md-4 md-18 mm">
						<span class="contai menlord openm">
							<span class="burg"></span>
						</span>
				<img style="width: 34px" src="{{ asset('can/images/logo1.svg') }}">
				<span class="dorix"> <span class="jaune"> CAN</span>HEBERGEMENT </span>
			</div>
			<div class="col-md-5 text-right menlor p-0">
				<ul class="menu p-0">
					{% if id == 1 %}
					<li class=""> <a href="{{ path('nanotech_canhebergement_homepage') }}" class="activ">ACCUEIL</a> </li>
					{% else %}
					<li class=""> <a href="{{ path('nanotech_canhebergement_homepage') }}" >ACCUEIL</a> </li>
					{% endif %}
					<li class="" >
						<span style="position: relative">
							{% if id == 2 %}
							<a href="#" class="lgmt activ" >LOGEMENT</a>
							{% else %}
								<a href="#" class="lgmt">LOGEMENT</a>
							{% endif %}
							<span class="sousmenuz smcnt dnone">
								<div class="trgl"></div>
								{% for categorie in categories %}
									<span><a href="{{ path('nanotech_canhebergement_reserver') }}" class="sousm bordsousmen">{{ categorie.nomFr| upper }}</a></span>
								{% endfor %}
							</span>
						</span>
					</li>
					<!-- <li class=""> <a href="#">CONTACT</a> </li> -->
                    {% if id == 3 %}
						<li > <a href="{{ path('fos_user_security_admin_login') }}" class="activ">PARTENAIRE</a> </li>
                    {% else %}
						<li > <a href="{{ path('fos_user_security_admin_login') }}" >PARTENAIRE</a> </li>
                    {% endif %}
					<li class=""> <a href="#">A PROPOS</a> </li>

				</ul>
			</div>
			<div class="col-md-3 text-right menlor p-0">
				<ul class="mencon p-0">
                    {% if id == 5 %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{% if is_granted("ROLE_CLIENT") %}
							<li class="ins"> <a href="{{ path('nanotech_canhebergement_client_index') }}" class="jaune">{{  'espace client' | upper}}</a> </li>
							{% else %}
								<li class="ins"> <a href="{{ path('sonata_admin_dashboard') }}" class="jaune">{{  'Administration' | upper}}</a> </li>
							{% endif %}
                        {% else %}
							<li class="ins"> <a href="{{ path('nanotech_canhebergement_client_index') }}" class="jaune">{{ 'espace client' | upper }}</a> </li>
                        {% endif %}
                    {% else %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if is_granted("ROLE_CLIENT") %}
								<li class="ins"> <a href="{{ path('nanotech_canhebergement_client_index') }}" >{{  'espace client' | upper}}</a> </li>
                            {% else %}
								<li class="ins"> <a href="{{ path('sonata_admin_dashboard') }}" >{{  'Administration' | upper}}</a> </li>
                            {% endif %}
                        {% else %}
							<li class="ins"> <a href="{{ path('nanotech_canhebergement_client_index') }}">{{ 'espace client' | upper }}</a> </li>
                        {% endif %}

                    {% endif %}

				</ul>
			</div>
		</div>
		<div class="menlat0 menlatX">
			<div class="cls-mn point"><i class="material-icons">close</i></div>
			<div class="menlatin">
				<ul>
                    {% if id == 1 %}
					<li class=""> <a href="{{ path('nanotech_canhebergement_homepage') }}" class="activ">ACCUEIL</a> </li>
                    {% else %}
					<li class=""> <a href="{{ path('nanotech_canhebergement_homepage') }}" >ACCUEIL</a> </li>
					{% endif %}
					<li class="" >
							{% if id == 2 %}
								<a href="#" class="lgc activ" >LOGEMENT</a>
							{% else %}
								<a href="#" class="lgc">LOGEMENT</a>
                            {% endif %}
					</li>
					<div class="mltsm mltsmno">
                                {% for categorie in categories %}
									<li><a href="{{ path('nanotech_canhebergement_reserver') }}" class="menlatinsm">{{ categorie.nomFr| upper }}</a></li>
                                {% endfor %}

					</div>

                    {% if id == 3 %}
						<li > <a  href="{{ path('fos_user_security_admin_login') }}" class="activ">PARTENAIRE</a> </li>
                    {% else %}
						<li > <a  href="{{ path('fos_user_security_admin_login') }}">PARTENAIRE</a> </li>
                    {% endif %}
					<li><a href="#" >A PROPOS</a></li>

                    {% if id == 5 %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if is_granted("ROLE_CLIENT") %}
								<li class="ins"> <a href="{{ path('nanotech_canhebergement_client_index') }}" class="jaune">{{  'espace client' | upper}}</a> </li>
                            {% else %}
								<li class="ins"> <a href="{{ path('sonata_admin_dashboard') }}" class="jaune">{{  'Administration' | upper}}</a> </li>
                            {% endif %}
                        {% else %}
							<li class="ins"> <a href="{{ path('nanotech_canhebergement_client_index') }}" class="jaune">{{ 'espace client' | upper }}</a> </li>
                        {% endif %}
                    {% else %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if is_granted("ROLE_CLIENT") %}
								<li class="ins"> <a href="{{ path('nanotech_canhebergement_client_index') }}" >{{  'espace client' | upper}}</a> </li>
                            {% else %}
								<li class="ins"> <a href="{{ path('sonata_admin_dashboard') }}" >{{  'Administration' | upper}}</a> </li>
                            {% endif %}
                        {% else %}
							<li class="ins"> <a href="{{ path('nanotech_canhebergement_client_index') }}">{{ 'espace client' | upper }}</a> </li>
                        {% endif %}

                    {% endif %}
				</ul>
			</div>
		</div>
		<div class="flo">
		</div>
	</div>
</div>

