{% extends "::baserecherche.html.twig" %}
{% block title %}{{"Recherche"|trans }} {% endblock %}
{% block ogtitle %}{{"Canhebergement"|trans }}{% endblock %}
{% block body %}
    
<section>
	<div class="container">	
	<div class="row">
		<div class="col-md-3 filtre bcl7 mb-5">
			<div class="row" id="filtre-rech">
				<div class="col-md-12"><h5 class="h1-r">Filtres</h5></div>

				<div class="form-group col-md-12" style="height: 35px !important;">
					<div class="position-relative">
						<label class="position-absolute pl-12" for="direct">
							<span class="material-icons cl12 labrech">place</span>
						</label>
						<input type="text" class="mu lh35 inp" id="autocomplete" onFocus="geolocate()" name="direct" placeholder="Où allez vous ?" />
					</div>

				</div>

				<div class="form-group col-md-12">
					<div class="position-relative">
						<label class="position-absolute pl-12" for="flt-type">
							<span class="material-icons cl12 labrech">search</span>
						</label>
						<select name="flt-type" class="mu lh35 inp" id="fil-type" onChange="requette()">
							<option value=""  selected >Type d'établissement</option>
							{% for categorie in categories %}<option value="{{ categorie.id }}">{{ categorie.nomFr }}</option>{% endfor %}
						</select>
					</div>

				</div>


				<div class="form-group col-md-12">
					<div class="position-relative">
						<label class="position-absolute pl-12" for="flt-etl">
							<span class="material-icons cl12 labrech">star</span>
						</label>
						<input type="text" class="mu lh35 inp change" id="flt-etl" name="flt-etl" placeholder="Nombre d'étoile"/>
					</div>
					<span class="sousmenuz smslt flt-etl">
									<div class="trgl"></div>
									<span><a href="" class="sousm bordsousmen flt-et" val="5">
										<i class="material-icons">star</i>
										<i class="material-icons">star</i>
										<i class="material-icons">star</i>
										<i class="material-icons">star</i>
										<i class="material-icons">star</i><span class="cl12 pl-3">(5)+</span></a>
									</span>
									<span><a href="" class="sousm bordsousmen flt-et" val="4">
										<i class="material-icons">star</i
										><i class="material-icons">star</i>
										<i class="material-icons">star</i>
										<i class="material-icons">star</i><span class="cl12 pl-3">(4)</span></a></span>
									<span><a href="" class="sousm bordsousmen flt-et" val="3">
										<i class="material-icons">star</i>
										<i class="material-icons">star</i>
										<i class="material-icons">star</i><span class="cl12 pl-3">(3)</span></a></span>
									<span><a href="" class="sousm bordsousmen flt-et" val="2">
										<i class="material-icons">star</i>
										<i class="material-icons">star</i><span class="cl12 pl-3">(2)</span></a></span>
									<span><a href="" class="sousm bordsousmen flt-et" val="1">
										<i class="material-icons">star</i><span class="cl12 pl-3">(1)</span></a></span>

								</span>
				</div>
				<div class="form-group col-md-12 mt-4">
					<div class="row">
						<div class="col-md-6">
							<input style="width: 100%" class=" rsv-inp pt-2 pl-3 pb-2 cl9 md-14 js-datepicker1" type="text" id="dateArr" name="dateArr" placeholder="Arrivé" >
						</div>
						<div class="col-md-6">
							<input style="width: 100%" class=" rsv-inp pt-2 pl-3 pb-2 cl9 md-14 js-datepicker2" type="text"  id="dateDep" name="dateDep"   placeholder="Départ">
						</div>
					</div>
				</div>

				<div class="form-group col-md-12 mt-4 ">
					<div class="row">
						<div class="col-6 md-13 mrb10 prx" >Prix-Min: <br><span id="min_pric" class="cl3">0 </span> XAF</div>
						<div class="col-6 prx md-13 text-right">Prix-Max: <br><span id="max_pric" class="cl3">0</span> XAF</div>
						<div class="col-md-12">
							<div id="slider-range-filter" class=" price-filter-range" name="rangeInput"></div>
						</div>
					</div>
				</div>
				<input type="hidden" class="change" name="prix_mini" id="prix_mini" value="">
				<input type="hidden" class="change" name="prix_maxi" id="prix_maxi" value="">
				<input type="hidden" name="longitude" id="longitude" value="">
				<input type="hidden" name="latitude" id="latitude" value="">
				<div class="form-group col-md-12 mt-4">
					<div class="row">
						<div class="col-md-12 mrb10 critaire point" ><i class="material-icons cl8 md-18" style="transform:rotate(-45deg)">vpn_key</i> Equipement de chambre <i class="material-icons float-right md-18 drl">add</i></div>
						<div class="col-md-12 crtCnt cl9">
							<div class="form-group col-md-12 mb-0 point tris ">
								<input class="point chk" type="checkbox" value="climatisation" chkattr="eq" name="eq1" id="eq1">
								<label class="point txs pl-2" >Climatisation</label>
							</div>
							<div class="form-group col-md-12 mb-0 point tris">
								<input class="point chk" type="checkbox" value="television" chkattr="eq" name="eq2" id="eq2">
								<label class="point txs pl-2">Télévision</label>
							</div>
							<div class="form-group col-md-12 mb-0 point tris">
								<input class="point chk" type="checkbox" value="minibar" chkattr="eq" name="eq3" id="eq3">
								<label class="point txs pl-2">Mini-bar</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-12 ">
					<div class="row">
						<div class="col-md-12 mrb10 critaire point" ><i class="material-icons cl8 md-18">place</i> Proximité <i class="material-icons float-right md-18 drl">add</i></div>
						<div class="col-md-12 crtCnt cl9">
							<div class="form-group col-md-12 mb-0 point tris ">
								<input class="point chk" type="checkbox" chkattr="prx" value="aeroport" name="p1" id="p1">
								<label class="point txs pl-2" >Aéroport</label>
							</div>
							<div class="form-group col-md-12 mb-0 point tris">
								<input class="point chk" type="checkbox" chkattr="prx" value="supermarche" name="p2" id="p2">
								<label class="point txs pl-2">Supermarché</label>
							</div>
							<div class="form-group col-md-12 mb-0 point tris">
								<input class="point chk" type="checkbox" chkattr="prx" value="hopital"  name="p3" id="p3">
								<label class="point txs pl-2">Hôpital</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-12">
					<div class="row">
						<div class="col-md-12 mrb10 critaire point" ><i class="material-icons cl8 md-18">apps</i> Services <i class="material-icons float-right md-18 drl">add</i></div>
						<div class="col-md-12 crtCnt cl9">
							<div class="form-group col-md-12 mb-0  point tris">
								<input class="point chk" type="checkbox" chkattr="svc" value="wifi" name="s1" id="s1">
								<label class="point txs pl-2" >Wifi</label>
							</div>
							<div class="form-group col-md-12 mb-0 point tris">
								<input class="point chk" type="checkbox" chkattr="svc" value="restaurant" name="s2" id="s2">
								<label class="point txs pl-2">Réstaurant</label>
							</div>
							<div class="form-group col-md-12 mb-0 point tris">
								<input class="point chk" type="checkbox" chkattr="svc" value="piscine" name="s3" id="s3">
								<label class="point txs pl-2">Piscine</label>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div id="resultelement" class="col-md-9 mb-5">

		</div>
	</div>
	<div class="divider"></div>
	</div>
	<div  id="toT" class="toTop text-center" title="remonter"><i class="material-icons">keyboard_arrow_up</i></div>
	<div class="logn bcl1">
		
		<div class="clsl point"><i class="material-icons">close</i></div>
	
		<div class="col-md-4 offset-md-4 lognc" style="color:#fff">
			<div class="mt-4">
				<div>
					<h2 class="h1-r jaune">LOGIN RESERVATION</h2>
					<p>Pour voir vos précédentes réservations, veuillez entrez
						les informations qui vous ont été envoyées par mail.
					</p>
					<p class="md-12 cl3 error">Les informations que vous avez entrer ne sont pas correct.</p>
				</div>
				<div>
					<form>
						<div class="heiI inp mt-4">
							<span class="material-icons cl12 labrech">account_circle</span>
							<input class="md-13 inrech" type="text" id="login" name="login" placeholder="Identifiant">
						</div>
						<div class="heiI inp mt-4">
							<span class="material-icons cl12 labrech">lock</span>
							<input class="md-13 inrech" type="text" id="login" name="login" placeholder="Mot de passe">
						</div>
						<button class="btn btn-outline-warning mt-4 md-12">Se connecter</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}
{% block script %}
	<script type="text/javascript">
        var darriver= null;

        var ddepart = null
		var booldepart = false;
        var boolarrive = false;
        $(function(){

            $('#autocomplete').on('change',function(){
                local = false;
            });

            $('.change').on('change',function(){

                requette();
            });

            $('#dateArr').change(function(){
                boolarrive = true;
                $('.js-datepicker2').focus();
            });

            $('#dateDep').on('change',function(){
                darriver = $('.js-datepicker1').val();
                ddepart = $('.js-datepicker2').val();
                booldepart = true;
            })

        });


        function requette(){
            // alert('req');
            var type = $('#filtre-rech').find('select[name="flt-type"]').val();
            var etoile = $('#filtre-rech').find('input[name="flt-etl"]').val();
            var min = $('#filtre-rech').find('input[name="prix_mini"]').val();
            var max = $('#filtre-rech').find('input[name="prix_maxi"]').val();

            if((!boolarrive && booldepart)){
                $('.js-datepicker1').focus();
                $('.js-datepicker1').addClass('brd-help');
			}
			else {


            if(local == false){
                $('#autocomplete').focus();
                $('#autocomplete').addClass('brd-help');
            }else{
                $('#autocomplete').removeClass('brd-help');
                $('#resultelement').append('<div class="spin pt-4 spin-cmt" style="margin: auto;"></div>');
                $('#resultelement').find('.row').remove();
                $.ajax({
                    async: true,
                    url: "{{ path('nanotech_canhebergement_result_recherche') }}",
                    method: "GET",
                    data:{
                        categorie: type,
                        etoile: etoile,
                        min: min,
                        max: max,
                        latitude: $('#latitude').val(),
						longitude: $('#longitude').val(),
                        eq: equipement,
                        pxm: proximite,
                        svc: service,
						depart: ddepart,
						arriver: darriver
                    },
                    success:function(data){
                        $('#resultelement').append(data);
                        $('#resultelement').find('.spin-cmt').remove();

                    },
                    error:function (er) {

						console.log(er);
                        $('#resultelement').append('<div id="row" class="row"><div class="col-md-12"><h5 class="h1-r" id="nom">Pas d\'hotel disponible</h5></div></div>');
                        $('#resultelement').find('.spin-cmt').remove();
                    }

                });

             }
            }
        }
	</script>



{% endblock %}