			<div  id="row" class="row">
				<div class="col-md-12">
					<h5 class="h1-r" id="nom">Resultats trouvés:  {{ taille}}</h5>
				</div>
				{% for partenaire in partenaires %}
				<div class="col-md-12 mt-5 mb-3">
					<div class="col-md-12">
						<div class="row inpl point vsht" style="min-height: 200px" >
							<div class="col-md-9 pt-2 pb-2">
								<div><h5 class="h1-r">{{ partenaire.nom | upper }} - {{ partenaire.categorie.nomFr | upper }}
										<span class="float-right cl4">
											{% for i in range(1,partenaire.nbrEtoile) %}
												<i class="material-icons">star</i>
                                            {% endfor %}
										</span></h5>
									<span class="cl8">Chambre restante - <span class="cl3 md-16">03</span></span>
								</div>
								<div class="pt-4 pb-4 cl9"><i class="material-icons cl1">place</i> {{partenaire.quartier}} - {{partenaire.ville}} - {{partenaire.pays}} <br>
                                    {{partenaire.descriptionFr | slice(0,150) | raw }}...
									<div class=" md-10">
                                        {% for service in partenaire.services %}
											<span class=" text-center srv"><img style="width: 24px" src="{{ asset(service.code) }}"></span>
                                        {% endfor %}
									</div>
								</div>
								<div class="cl8"><span class="md-12 cl8 dpb2">A partir de <br></span><span class="cl3 md-20" style="font-weight:500">{% for piece in tabpiece %} {% if piece.partenaire == partenaire.id %} {{ piece.prix }} {% endif %} {% endfor %} </span>XAF pour {{ nbrnuit }} nuit(s)</div>
								<div class="">
                                    {% for piece in tabpiece %} {% if piece.partenaire == partenaire.id %}
										<button class="btn btn-outline-primary md-12 float-right ml-2" onclick="gotodetail('{{ path('nanotech_canhebergement_hotel',{'slug':partenaire.slug}) }}')" ><i class="material-icons dpb2">add</i> Détails</button>
										<form method="post" action="{{ path('nanotech_canhebergement_reserver') }}" >
											<input type="hidden" name="piece" value="{{ piece.idpiece }}">
											<input type="hidden" name="depart" id="depart" value="{{ depart | date }}">
											<input type="hidden" name="arriver" id="arriver" value="{{ arriver | date }}">
											<input type="submit" class="btn btn-primary md-12 float-right" value="{{ 'Reserver'|trans }}">
										</form>
                                    {% endif %} {% endfor %}
								</div>
							</div>
							<div class="col-md-3" style="background-position:center top;background-size: cover; background-image: url({% path partenaire.image.galleryHasMedias[0].media, 'big' %});"></div>
							<a href="{{ path('nanotech_canhebergement_hotel',{'slug':partenaire.slug}) }}" class="lien"></a>
						</div>
					</div>
				</div>

				{% endfor %}


			</div>
