{% extends "::basereservation.html.twig" %}
{% block title %}{{"Reserver"|trans }} {% endblock %}
{% block ogtitle %}{{"Canhebergement"|trans }}{% endblock %}
{% block body %}

  <section>
	<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<div class="row ">
				<div class="col-md-12 mt-5 mb-2">
					<h4 class="h1-r font-weight-bold cl8" id="reservation">RESERVATION DE CHAMBRE</h4>
				</div>
				<div class="mt-2 mb-2 col-md-12 ">
					<div class="row brd-btm brd-tp">
						<div class="col-md-4 mt-2 p-3 md-16">
							Type de chambre
							<div class="cl9 md-14">10 500 <span class="cl8 md-12">xaf</span></div>
						</div>
						<div class="col-md-4 mt-2 p-3 text-center " >
							<span class="text-uppercase">Nom </span>Etablissement 
							<div class="cl4 md-20">
								<span class="material-icons ">star</span>
								<span class="material-icons ">star</span>
								<span class="material-icons ">star</span>
							</div>
						</div>
						<div class="col-md-4 mt-2 p-3 text-right">
								<a href="#" data-toggle="modal" data-target="#modal-clt" class=" pl-3 pr-3 text-uppercase d-inline-block text-white bcl1 allhtl md-12 pl-2 pr-2">je suis un ancien client</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12 mt-2 mb-3">
							<div class="p-3 bcl7">
								<div class=" position-relative">
									<div class="position-relative md-14"><label for="rsv-nbr">Nombre de chambre*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="rsv-nbr" id="rsv-nbr">
									<div class="rsv-error text-right md-12 cl3">entrez un nombre (max 3)</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 mt-3 mb-3">
							<div class="p-3 bcl7 ">
								<div class="mb-3 text-uppercase md-14 cl8">Détails du client</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-nom">Nom*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="rsv-nom" id="rsv-nom">

								</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Prenom*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="rsv-prn" id="rsv-prn">
								</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Numéro téléphone*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="rsv-phn" id="rsv-phn">
								</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Email*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="rsv-eml" id="rsv-eml">
								</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Nationalité*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="rsv-nt" id="rsv-nt">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12 mt-2 mb-3">
							<div class="p-3 bcl7">
							<div class="mb-3 text-uppercase md-14 cl8">Résidence</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-nbr">Pays de résidence*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="">
								</div>
								<div class="form-group position-relative">
									<div class="position-relative md-14"><label for="rsv-nbr">Adresse*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="">
								</div>
							</div>
						</div>
						<div class="col-md-12 mt-3 mb-3">
							<div class="p-3 bcl7 ">
								<div class="mb-3 text-uppercase md-14 cl8">Justificatif</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-nom">Type de document*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="">

								</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Numéro du document*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="">
								</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Fichier joint</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12 mt-2 mb-3">
							<div class="p-3 bcl7">
							<div class="mb-3 text-uppercase md-14 cl8">Déstination</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-nbr">Venant de*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="">
								</div>
								<div class="form-group position-relative">
									<div class="position-relative md-14"><label for="rsv-nbr">Se rendant à*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="">
								</div>
							</div>
						</div>
						<div class="col-md-12 mt-3 mb-3">
							<div class="p-3 bcl7">
							<div class="mb-3 text-uppercase md-14 cl8">Durée du séjour</div>
									<div class="form-group position-relative mb-3">
										<div class="position-relative md-14"><label for="rsv-nbr">Date d'arrivé*</label></div>
										<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 js-datepicker" type="text" id="" name="" placeholder="dd/mm/yy" >
									</div>
									<div class="form-group position-relative">
										<div class="position-relative md-14"><label for="rsv-nbr">Date de départ*</label></div>
										<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 js-datepicker" type="text" name="" id=""  placeholder="dd/mm/yy">
									</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12 mt-2 mb-3">
							<div class="p-3 bcl7">
							<div class="mb-3 text-uppercase md-14 cl8 ">Moyen de paiment</div>
								<div class="mt-5 row mb-5">
									<div class="col-md-4"><label for="org" class="mny point"><img src="{{ asset('can/images/org.jpg') }}" height="100%"></label></div>
									<div class="col-md-4"><label for="mtn" class="mny point"><img src="{{ asset('can/images/mtn.png') }}" height="100%"></label></div>
									<div class="col-md-4"><label for="air" class="mny point"><img src="{{ asset('can/images/air.png') }}" height="100%"></label></div>
								</div>
								<div class="form-group row">
									<div class="col-md-4"><input class="mr-2" 	type="radio" checked="checked" name="mny" id="org"><label for="org">Orange money</label></div>
									<div class="col-md-4"><input class="mr-2" 	type="radio" name="mny" id="mtn"><label for="mtn">Mobile money</label></div>
									<div class="col-md-4"><input class="mr-2" 	type="radio" name="mny" id="air"><label for="air">Air</label></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12 mt-2 mb-3">
							<div class="p-3 bcl7">
							<div class="mb-4 text-uppercase md-14 cl8 ">Paiment</div>
								<div class="form-group brd-tp brd-btm pt-4 pb-4">
									<div>2 type de chambre</div>
									<div>
										<span class="text-uppercase cl8">Prix total:</span>
										<span class="md-20 float-right">20000<span class="md-14">xaf</span></span>
									</div>
								</div>
								<div class="form-group position-relative text-right mt-4">
									<a href="#" class=" pl-3 pr-3 text-uppercase d-inline-block text-white bcl1 allhtl md-12">Reserver</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="divider mt-5"></div>
	</div>
	<div  id="toT" class="toTop text-center" title="remonter"><i class="material-icons">keyboard_arrow_up</i></div>
	<!-- modal-client -->
	<div class="modal fade" id="modal-clt" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered pl-3">
            <div class="p-3 position-relative modal-content" style="background-color: #fff; max-width:600px; margin: auto;">
			<div class="cls-clt point" data-dismiss="modal"><i class="material-icons">close</i></div>
			<div class="md-16 mb-4 mt-4 cl8 text-uppercase">étes vous un <strong> ancien client</strong> ?</div>
			<form>
				<div class="form-group position-relative mb-3">
					<div class="md-14"><label for="rsv-nbr">Numéro du document</label></div>
					<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="" placeholder="Entrez le numéro du document">
				</div>

				<div class="form-group text-right mt-4">
					<a href="#" id="btn-clt" data-dismiss="modal" class="pl-3 pr-3 text-uppercase d-inline-block text-white bcl1 allhtl md-12 ">Continuer</a>
				</div>
			</form>
			<div class="brd-tp mt-3 mb-3 pt-2 cl8 ">
				<span><strong>NB:</strong></span>
				<span>
					Si vous avez déjà reserver une chambre, vous pouvez saisir le numéro
					du document justificatif utilisé et vos informations serons automatiquement remplies.
				</span>
			</div>
		</div>
        </div>
    </div>
	<!-- modal-reservation -->
	<div class="modal fade" id="modal-rsv" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered pl-3">
            <div class="p-3 position-relative modal-content" style="background-color: #fff; max-width:600px; margin: auto;">
			<div class="cls-clt point" data-dismiss="modal"><i class="material-icons">close</i></div>
			<div class="md-16 mb-4 mt-4 cl8 text-uppercase">Identification de <strong> reservation </strong> </div>
			<form>
				<div class="form-group position-relative mb-3">
					<div class="md-14"><label for="rsv-nbr">Numéro du document</label></div>
					<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="" placeholder="Entrez le numéro votre document justificatif">
				</div>
				<div class="form-group position-relative mb-3">
					<div class="md-14"><label for="rsv-nbr">Mot de passe</label></div>
					<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " type="text" name="" id="" placeholder="Entrez le mot de passe">
				</div>
				<div class="form-group text-right mt-4">
					<a href="#" id="btn-clt" data-dismiss="modal" class="pl-3 pr-3 text-uppercase d-inline-block text-white bcl1 allhtl md-12 ">Continuer</a>
				</div>
			</form>
			<div class="brd-tp mt-3 mb-3 pt-2 cl8 ">
				<span><strong>NB:</strong></span>
				<span>
					Pour voir vos précédentes réservations, veuillez entrez
					les informations qui vous ont été envoyées par mail.
				</span>
			</div>
		</div>
        </div>
    </div>
	<!-- modal-reservation -->
	<!-- <div class="logn bcl1">
		<div class="clsl point"><i class="material-icons">close</i></div>
		<div class="col-md-4 offset-md-4 lognc" style="color:#fff">
			<div class="mt-4">
				<div>
					<h2 class="h1-r jaune">LOGIN RESERVATION</h2>
					<p>Pour voir vos précédentes réservations, veuillez entrez
						les informations qui vous ont été envoyées par mail.
					</p>
					<p class="md-12 cl3 error">Les informations que vous avez entrer ne sont pas correct.</p>
				</div>
				<div>
					<form>
						<div class="heiI inp mt-4">
							<span class="material-icons cl12 labrech">account_circle</span>
							<input class="md-13 inrech" type="text" id="login" name="login" placeholder="Identifiant">
						</div>
						<div class="heiI inp mt-4">
							<span class="material-icons cl12 labrech">lock</span>
							<input class="md-13 inrech" type="text" id="login" name="login" placeholder="Mot de passe">
						</div>
						<button class="btn btn-outline-warning mt-4 md-12">Se connecter</button>
					</form>
				</div>
			</div>
		</div>
	</div> -->
</section>


{% endblock %}
