{% extends "::basereservation.html.twig" %}
{% block title %}{{"Reserver"|trans }} {% endblock %}
{% block ogtitle %}{{"Canhebergement"|trans }}{% endblock %}
{% block body %}

  <section>
	<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<div class="row ">
				<div class="col-md-12 mt-5 mb-2">
					<h4 class="h1-r font-weight-bold cl8" id="reservation">RESERVATION</h4>
				</div>
				<div class="mt-2 mb-2 col-md-12 ">
					<div class="row brd-btm brd-tp">
						<div class="col-md-6 mt-2 p-3 md-16">
							{{ piece.type | upper}}
							<div class="cl9 md-14"> {{ piece.prix }} <span class="cl8 md-12">xaf</span></div>
						</div>
						<div class="col-md-6 mt-2 p-3 text-right " >
							<span class="text-uppercase"> </span>{{ piece.partenaire.nom | upper }}
							<div class="cl4 md-20">
                                {% for i in range(1,piece.partenaire.nbrEtoile) %}
									<i class="material-icons">star</i>
                                {% endfor %}
							</div>
						</div>

					</div>
				</div>
			</div>
            {% if error %}
			<div class="rsv-error text-center md-18 cl3 "> Si vous avez déjà un compte, connectez vous!</div>
            {% endif %}
			{{ form_start(form) }}
			<div class="row mt-3">
				{% if   connected %}
				<div class="col-md-4">
					<div class="row">

						<div class="col-md-12 mt-3 mb-3">
							<div class="p-3 bcl7 ">
								<div class="mb-3 text-uppercase md-14 cl8">Détails du client</div>

								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-nom">Nom*</label></div>
                                    {{ form_widget(form.nom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14','readonly':'true' }}) }}

								</div>

								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Prenom</label></div>
                                    {{ form_widget(form.prenom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14','readonly':'true'}}) }}

								</div>

								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Numéro téléphone*</label></div>
                                    {{ form_widget(form.telephone, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14','readonly':'true'}}) }}
								</div>

								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Email*</label></div>
									{% if error %}
                                    {{ form_widget(form.email, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 brd-error','readonly':'true'}}) }}
									<div class="rsv-error text-right md-12 cl3 "> Email déjà utilisé</div>
									{% else %}
                                    {{ form_widget(form.email, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14','readonly':'true'}}) }}
									{% endif %}
								</div>


								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-nbr">Pays de résidence*</label></div>

                                    {{ form_widget(form.pays, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14','readonly':'true'}}) }}

								</div>
								<div class="form-group position-relative">
									<div class="position-relative md-14"><label for="rsv-nbr">Adresse*</label></div>
                                    {{ form_widget(form.adresse, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14','readonly':'true'}}) }}

								</div>
							</div>
						</div>

					</div>
				</div>
					{% else %}
						<div class="col-md-4">
							<div class="row">

								<div class="col-md-12 mt-3 mb-3">
									<div class="p-3 bcl7 ">
										<div class="mb-3 text-uppercase md-14 cl8">Détails du client</div>

										<div class="form-group position-relative mb-3">
											<div class="position-relative md-14"><label for="rsv-nom">Nom*</label></div>
                                            {{ form_widget(form.nom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

										</div>

										<div class="form-group position-relative mb-3">
											<div class="position-relative md-14"><label for="rsv-prn">Prenom</label></div>
                                            {{ form_widget(form.prenom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

										</div>

										<div class="form-group position-relative mb-3">
											<div class="position-relative md-14"><label for="rsv-prn">Numéro téléphone*</label></div>
                                            {{ form_widget(form.telephone, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
										</div>

										<div class="form-group position-relative mb-3">
											<div class="position-relative md-14"><label for="rsv-prn">Email*</label></div>
                                            {% if error %}
                                                {{ form_widget(form.email, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 brd-error'}}) }}
												<div class="rsv-error text-right md-12 cl3 "> Email déjà utilisé</div>
                                            {% else %}
                                                {{ form_widget(form.email, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                            {% endif %}
										</div>


										<div class="form-group position-relative mb-3">
											<div class="position-relative md-14"><label for="rsv-nbr">Pays de résidence*</label></div>

                                            {{ form_widget(form.pays, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

										</div>
										<div class="form-group position-relative">
											<div class="position-relative md-14"><label for="rsv-nbr">Adresse*</label></div>
                                            {{ form_widget(form.adresse, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

										</div>
									</div>
								</div>

							</div>
						</div>
				{% endif %}
				<div class="col-md-4">
					<div class="row">

						<div class="col-md-12 mt-3 mb-3">
							<div class="p-3 bcl7">
								<div class="mb-3 text-uppercase md-14 cl8">Durée du séjour</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-nbr">Date d'arrivé*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " readonly required type="text" id="arriver" name="rsv-arriver" placeholder="dd/mm/yy" value="{{ date1 | date }}">
								</div>
								<div class="form-group position-relative">
									<div class="position-relative md-14"><label for="rsv-nbr">Date de départ*</label></div>
									<input class="col-md-12 rsv-inp pt-2 pb-2 cl9 md-14 " readonly required type="text" name="rsv-depart" id="depart"  placeholder="dd/mm/yy" value="{{ date2  | date}}">
								</div>
							</div>
						</div>
{% if connected %}
						<div class="col-md-12 mt-3 mb-3">
							<div class="p-3 bcl7 ">
								<div class="mb-3 text-uppercase md-14 cl8">Justificatif</div>

								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Nationalité*</label></div>
                                    {{ form_widget(form.nationalite, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14','readonly':'true'}}) }}

								</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-nom">Type de document*</label></div>
                                    {{ form_widget(form.typedocument, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14','readonly':'true'}}) }}

								</div>
								<div class="form-group position-relative mb-3">
									<div class="position-relative md-14"><label for="rsv-prn">Numéro du document*</label></div>
                                    {{ form_widget(form.numdocument, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14','readonly':'true'}}) }}

								</div>

							</div>
						</div>
	{% else %}
		<div class="col-md-12 mt-3 mb-3">
			<div class="p-3 bcl7 ">
				<div class="mb-3 text-uppercase md-14 cl8">Justificatif</div>

				<div class="form-group position-relative mb-3">
					<div class="position-relative md-14"><label for="rsv-prn">Nationalité*</label></div>
                    {{ form_widget(form.nationalite, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

				</div>
				<div class="form-group position-relative mb-3">
					<div class="position-relative md-14"><label for="rsv-nom">Type de document*</label></div>
                    {{ form_widget(form.typedocument, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

				</div>
				<div class="form-group position-relative mb-3">
					<div class="position-relative md-14"><label for="rsv-prn">Numéro du document*</label></div>
                    {{ form_widget(form.numdocument, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

				</div>

			</div>
		</div>

{% endif %}


					</div>
				</div>
				<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 mt-2 mb-3">
								<div class="p-3 bcl7">
									<div class="mb-4 text-uppercase md-14 cl8 ">Paiement</div>


									<div class="form-group pt-4 pb-4">
										<div>{{ piece.type }}</div>
										<div>
											<span class="text-uppercase cl8">Prix:</span>
											<span class="md-20 float-right">{{ piece.prix }}<span class="md-14"> xaf</span></span>
										</div>
									</div>
									<div class="form-group pt-4 pb-4">
										<div>Nombre de {{ piece.type }}</div>
										<div>
											<span class="text-uppercase cl8">Total:</span>
											<span class="md-20 float-right">{{ quantite }}<span class="md-14"></span></span>
										</div>
									</div>
									<div class="form-group brd-btm pt-4 pb-4">
										<div>Nombre de nuit</div>
										<div>
											<span class="text-uppercase cl8">Total:</span>
											<span class="md-20 float-right">{{ nbrnuit }}<span class="md-14"></span></span>
										</div>
									</div>

									<div class="form-group pt-4 pb-4">
										<div>
											<span class="text-uppercase cl8">total:</span>
											<span class="md-20 float-right">{{ nbrnuit * piece.prix * quantite}}<span class="md-14"> xaf</span></span>
										</div>
									</div>

									<div class="form-group position-relative text-right mt-4">
										<input type="hidden" name="rsv-idp" value="{{ piece.id }}">
										<input type="hidden" name="rsv-quantite" value="{{ quantite }}">
										<input type="hidden" name="rsv-nbrnuit" value="{{ nbrnuit }}">
										<input type="hidden" name="rsv-connected" value="{{ connected }}">

										<input type="submit" class=" pl-3 pr-3 text-uppercase d-inline-block text-white bcl1 allhtl md-12" value="Reserver"></input>
									</div>

								</div>
							</div>
						</div>
					</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12 mt-2 mb-3">
							<div class="p-3 bcl7">
							<div class="mb-3 text-uppercase md-14 cl8 ">Moyen de paiment</div>

								<div class="mt-5 row mb-5">
									{% for paiment in paiments %}
									<div class="col-md-4">
										<label for="org" class="mny point">
											<img src="{% path paiment.logo, 'big' %}" height="100%">
										</label>
									</div>
									{% endfor %}

								</div>
								<div class="form-group row">
									{% for paiment in paiments %}
									<div class="col-md-4">
										<input class="mr-2" type="radio" name="rsv-mny" value="{{ paiment.id }}" id="org">
										<label for="org">{{ paiment.nom }}</label>
									</div>
									{% endfor %}

									<div class="col-md-4">
										<input class="mr-2" type="radio" name="rsv-mny" checked value="0" id="air">
										<label for="air">Pas maintenant</label>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

                {{ form_rest(form) }}
                {{ form_end(form) }}
			</div>

		</div>
	</div>
	<div class="divider mt-5"></div>
	</div>
	<div  id="toT" class="toTop text-center" title="remonter"><i class="material-icons">keyboard_arrow_up</i></div>
	<!-- modal-client -->

	<!-- modal-reservation -->
      {{ render(controller('NanotechCanhebergementBundle:Default:loginreservation'))}}



</section>


{% endblock %}
