<header id="header row" class="ovh">
    <div class="slider row" >
        {% for image in partenaire.baniere.galleryHasMedias %}
            <div class="col-sm-12 sl" style="background-image: url({% path image.media, 'big' %})"></div>
        {% endfor %}
    </div>
    <div class="col-sm-12 headTop2" id="headTop">
        <div class="container-fluid ">
            <div class="row ">
                <div class=" col-md-4 md-18 mm">
                    <span class="contai menlord openm">
                        <span class="burg"></span>
                    </span>
                    <img style="width: 34px" src="{{ asset('can/images/logo1.svg') }}"> 
                    <span class="dorix"> <span class="jaune"> CAN</span>HEBERGEMENT</span> 
                </div>
                <div class="col-md-5 text-right menlor p-0">
                    <ul class="menu p-0">
                        <li class=""> <a href="{{ path('nanotech_canhebergement_homepage') }}" >ACCUEIL</a> </li>
                        <li class="" >
                            <span style="position: relative">
                                <a href="#" class="lgmt activ" >LOGEMENT</a>
                                <span class="sousmenuz smcnt dnone">
                                    <div class="trgl"></div>
                                    <span><a href="" class="sousm bordsousmen">HÔTEL</a></span>
                                    <span><a href="" class="sousm bordsousmen">MAISON D'HOTE</a></span>
                                    <span><a href="" class="sousm bordsousmen">APPARTEMENT</a></span>
                                    <span><a href="" class="sousm">AUBERGE</a></span>
                                </span>
                            </span> 
                        </li>
                        <li > <a data-toggle="modal" data-target="#modal-rsv" href="#">RESERVATION</a> </li>
                        <!-- <li class=""> <a href="#">CONTACT</a> </li> -->
                        <li class=""> <a href="#">A PROPOS</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 text-right menlor p-0">
                    <ul class="mencon p-0">
                        <li class="ins"> <a href="{{ path('fos_user_security_login') }}">Inscription/Connexion</a> </li>
                    </ul>
                </div>
            </div>
            <div class="menlat0 menlatX">
                <div class="cls point"><i class="material-icons">close</i></div>
                <div class="menlatin">
                    <ul>
                        <li><a href="#" class="activ">ACCUEIL</a></li>
                        <li><a href="#" class="lgc">LOGEMENT</a></li>
                        <div class="mltsm mltsmno">
                            <li><a href="#" class="menlatinsm">Appartement</a></li>
                            <li><a href="#" class="menlatinsm">Hôtel</a></li>
                            <li><a href="#" class="menlatinsm" >Maison d'hôte</a></li>
                        </div>
                        <li><a href="#" >CONTACT</a></li> 
                        <li><a href="#" >A PROPOS</a></li>
                        <li><a href="#" >ACCUEIL</a></li>
                    </ul>
                </div>
            </div>
            <div class="flo">
            </div>
        </div>
    </div>
   <div class="col-sm-12 couv"></div>
	<div class="col-sm-12 couv2 p-0">
		<div class="col-sm-12 conttop">
			<div class="row">
				<div class="col-md-12 logo1 text-center ">
					<span >
						<img style="width:104px" src="{% path partenaire.logo, 'big' %}">
					</span>
				</div>
				<div class="col-12 text-center mt-sm-4">
					<h1 class="h1-r">{{ partenaire.nom |upper}} </h1>
					<!-- <span class="h5-responsive">COMME SI VOUS ETIEZ A lA MAISON</span> -->
				</div>
				<div id="pta">
				</div>
			</div>
		</div>
	</div>
    {{ render(controller('NanotechCanhebergementBundle:Default:loginreservation'))}}
</header>