{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('can/css/custom.css') }}" rel="stylesheet">
{% endblock %}
{% block side_bar_after_nav_content %}
    <a href="http://www.nanotechsolutions.cm" rel="noreferrer" target="_blank">powered by nanotech solution</a>
{% endblock %}
{% block content %}
    <div class="row">
        {{ form_start(form ) }}
        <div class="col-md-12">
             <div class="row">
                <div class="col-md-6  mt-4">

                    <div class="row">
                        <div class="col-md-12 mt-2 mb-3">
                            <div class="p-3">
                                <div class="mb-3 text-uppercase md-14 cl8">Détails du client</div>


                                <div class="mt-3">
                                    <div class=" position-relative">
                                        <div class="position-relative md-14"><label for="nm-eta">Nom<span class="cl3">*</span></label></div>
                                        {{ form_widget(form.reservation.internaute.nom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="position-relative">
                                        <div class="position-relative md-14">
                                            <label for="type-eta">Prenom<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.prenom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="position-relative mt-3">
                                        <div class="position-relative md-14">
                                            <label for="etoile-eta">Email<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.email, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                    </div>

                                </div>
                                <div class="mt-3">
                                    <div class="position-relative mt-3">
                                        <div class="position-relative md-14">
                                            <label for="etoile-eta">Type de document<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.typedocument, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                    </div>

                                </div>
                                <div class="mt-3">
                                    <div class="position-relative mt-3">
                                        <div class="position-relative md-14">
                                            <label for="etoile-eta">Numero du document<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.numdocument, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                    </div>

                                </div>
                                <div class="mt-3">
                                    <div class="position-relative mt-3">
                                        <div class="position-relative md-14">
                                            <label for="etoile-eta">Pays de residence<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.pays) }}
                                    </div>

                                </div>
                                <div class="mt-3">
                                    <div class="position-relative mt-3">
                                        <div class="position-relative md-14">
                                            <label for="etoile-eta">Lieu de naissance<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.lieuNai, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                    </div>

                                </div>
                                <div class="mt-3">
                                    <div class="position-relative mt-3">
                                        <div class="position-relative md-14">
                                            <label for="etoile-eta">Téléphone<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.telephone, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                    </div>

                                </div>
                                <div class="mt-3">
                                    <div class="position-relative mt-3">
                                        <div class="position-relative md-14">
                                            <label for="etoile-eta">Adresse<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.adresse, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                    </div>

                                </div>
                                <div class="mt-3">
                                    <div class="position-relative mt-3">
                                        <div class="position-relative md-14">
                                            <label for="etoile-eta">Nationalite<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.nationalite, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                                    </div>

                                </div>
                                <div class="mt-3">
                                    <div class="position-relative mt-3">
                                        <div class="position-relative md-14">
                                            <label for="etoile-eta">date de naissance<span class="cl3">*</span></label>
                                        </div>
                                        {{ form_widget(form.reservation.internaute.dateNai, {'attr': {'class': 'datetaille'}}) }}

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6  mt-4">
                    <div class="row">
                        <div class="col-md-12 mt-2 mb-3">
                            <div class="p-3">
                                <div class="mb-3 text-uppercase md-14 cl8">Détails de la reservation</div>


                                <div class="mt-3">
                                    <div class=" position-relative">
                                        <div class="position-relative md-14"><label for="nm-eta">Date d'arrive<span class="cl3">*</span></label></div>
                                        {{ form_widget(form.reservation.dateArrive, {'attr': {'class': 'datetaille'}}) }}


                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class=" position-relative">
                                        <div class="position-relative md-14"><label for="nm-eta">Date de départ <span class="cl3">*</span></label></div>
                                        {{ form_widget(form.reservation.dateDepart,{'attr': {'class': 'datetaille'}} ) }}

                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class=" position-relative">
                                        <div class="position-relative md-14"><label for="nm-eta">Quantité<span class="cl3">*</span></label></div>
                                        {{ form_widget(form.reservation.quantite, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class=" position-relative">
                                        <div class="position-relative md-14"><label for="nm-eta">Pièce<span class="cl3">*</span></label></div>
                                        {{ form_widget(form.reservation.piece) }}

                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class=" position-relative">
                                        <div class="position-relative md-14"><label for="nm-eta">Prix de la reservation<span class="cl3">*</span></label></div>
                                        {{ form_widget(form.reservation.prix) }}

                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class=" position-relative">
                                        <div class="position-relative md-14"><label for="nm-eta">Prix de la confirmation<span class="cl3">*</span></label></div>
                                        {{ form_widget(form.prix, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pr-0">
                    <br>
                    <div class="form-group position-relative text-center  mt-4">
                        <a class="btn btn-sm btn-default label-primary " href="{{ admin.generateUrl('list') }}"><i class="fa fa-backward" aria-hidden="true"></i> {{ 'Annuler' | trans }}</a>
                        <input type="submit" class="btn btn-sm btn-default label-primary " value="confirmer">

                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}