{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('can/css/custom.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        {{ form_start(form , {'action': path('nanotech_canhebergement_form_inscription'), 'method': 'POST'}) }}
        <div class="col-md-6  mt-4">

            <div class="row">
                <div class="col-md-12 mt-2 mb-3">
                    <div class="p-3">
                        <div class="mb-3 text-uppercase md-14 cl8">Détails du client</div>


                        <div class="mt-3">
                            <div class=" position-relative">
                                <div class="position-relative md-14"><label for="nm-eta">Nom<span class="cl3">*</span></label></div>
                                {{ form_widget(form.reservation.internaute.nom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="position-relative">
                                <div class="position-relative md-14">
                                    <label for="type-eta">Prenom<span class="cl3">*</span></label>
                                </div>
                                {{ form_widget(form.reservation.internaute.prenom, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="position-relative mt-3">
                                <div class="position-relative md-14">
                                    <label for="etoile-eta">Email<span class="cl3">*</span></label>
                                </div>
                                {{ form_widget(form.reservation.internaute.email, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                            </div>

                        </div>
                        <div class="mt-3">
                            <div class="position-relative mt-3">
                                <div class="position-relative md-14">
                                    <label for="etoile-eta">Cni<span class="cl3">*</span></label>
                                </div>
                                {{ form_widget(form.reservation.internaute.cni, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                            </div>

                        </div>
                        <div class="mt-3">
                            <div class="position-relative mt-3">
                                <div class="position-relative md-14">
                                    <label for="etoile-eta">Passeport<span class="cl3">*</span></label>
                                </div>
                                {{ form_widget(form.reservation.internaute.passeport, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                            </div>

                        </div>
                        <div class="mt-3">
                            <div class="position-relative mt-3">
                                <div class="position-relative md-14">
                                    <label for="etoile-eta">date de naissance<span class="cl3">*</span></label>
                                </div>
                                {{ form_widget(form.reservation.internaute.dateNai.day , {'attr': {'class': 'datetaille'}}) }}
                                {{ form_widget(form.reservation.internaute.dateNai.month, {'attr': {'class': 'datetaille'}} ) }}
                                {{ form_widget(form.reservation.internaute.dateNai.year, {'attr': {'class': 'datetaille'}} ) }}
                            </div>

                        </div>
                        <div class="mt-3">
                            <div class="position-relative mt-3">
                                <div class="position-relative md-14">
                                    <label for="etoile-eta">Lieu de naissance<span class="cl3">*</span></label>
                                </div>
                                {{ form_widget(form.reservation.internaute.lieuNai, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6  mt-4">
            <div class="row">
                <div class="col-md-12 mt-2 mb-3">
                    <div class="p-3">
                        <div class="mb-3 text-uppercase md-14 cl8">Détails de la reservation</div>


                        <div class="mt-3">
                            <div class=" position-relative">
                                <div class="position-relative md-14"><label for="nm-eta">Date d'arrive<span class="cl3">*</span></label></div>
                                {{ form_widget(form.reservation.dateArrive.day, {'attr': {'class': 'datetaille'}}) }}
                                {{ form_widget(form.reservation.dateArrive.month, {'attr': {'class': 'datetaille'}}) }}
                                {{ form_widget(form.reservation.dateArrive.year, {'attr': {'class': 'datetaille'}}) }}

                            </div>
                        </div>
                        <div class="mt-3">
                            <div class=" position-relative">
                                <div class="position-relative md-14"><label for="nm-eta">Date de départ <span class="cl3">*</span></label></div>
                                {{ form_widget(form.reservation.dateDepart.day,{'attr': {'class': 'datetaille'}} ) }}
                                {{ form_widget(form.reservation.dateDepart.month,{'attr': {'class': 'datetaille'}} ) }}
                                {{ form_widget(form.reservation.dateDepart.year,{'attr': {'class': 'datetaille'}} ) }}

                            </div>
                        </div>
                        <div class="mt-3">
                            <div class=" position-relative">
                                <div class="position-relative md-14"><label for="nm-eta">Quantité<span class="cl3">*</span></label></div>
                                {{ form_widget(form.reservation.quantite, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

                            </div>
                        </div>
                        <div class="mt-3">
                            <div class=" position-relative">
                                <div class="position-relative md-14"><label for="nm-eta">Pièce<span class="cl3">*</span></label></div>
                                {{ form_widget(form.reservation.piece) }}

                            </div>
                        </div>
                        <div class="mt-3">
                            <div class=" position-relative">
                                <div class="position-relative md-14"><label for="nm-eta">Prix<span class="cl3">*</span></label></div>
                                {{ form_widget(form.prix, {'attr': {'class': 'col-md-12 rsv-inp pt-2 pb-2 cl9 md-14'}}) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}