{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              <h1 class="" >CAN Hebergement</h1>
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{harold|length}}</h3>

              <p>Utilisateurs</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>

    </section>          
  <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{partenaire|length}}</h3>

              <p>Partenaire</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>           

                        
  <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{cartebar|length}}</h3>

              <p>Carte Bar</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>           

              <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{carterestaurant|length}}</h3>

              <p>Carte Restaurant</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>           
              
              
                  <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{payer|length}}</h3>

              <p>Payer</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>          
              
               
                  <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{piece|length}}</h3>

              <p>Piece</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>          

                      <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{planning|length}}</h3>

              <p>Planning</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>          

                  <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{internaute|length}}</h3>

              <p>Internaute</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>    
              
                         <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{commandebar|length}}</h3>

              <p>Commande Bar</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>    
              
                     <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{commanderestaurant|length}}</h3>

              <p>Commande Restaurant</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>    

                      <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{reservation|length}}</h3>

              <p>Reservation</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>    
              
                 <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{reservationconf|length}}</h3>

              <p>Reservation Confirmé</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>    
              
                   <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              
            </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{commentaire|length}}</h3>

              <p>Commentaire</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
      </div>
</section>    
            
{% endblock %}
