<header id="header row" class="ovh">
    <div class="slider row" >
        <div class="col-sm-12 sl" style="background-image: url({{ asset('can/images/1.jpg') }})"></div>
        <div class="col-sm-12 sl" style="background-image: url({{ asset('can/images/3.jpg') }})"></div>
        <div class="col-sm-12 sl" style="background-image: url({{ asset('can/images/2.jpg') }})"></div>
    </div>
    <div class="col-sm-12 headTop2" id="headTop">
        <div class="container-fluid ">
            <div class="row ">
                <div class=" col-md-4 md-18 mm">
                    <span class="contai menlord openm">
                        <span class="burg"></span>
                    </span>
                    <img style="width: 34px" src="{{ asset('can/images/logo1.svg') }}"> 
                    <span class="dorix"> <span class="jaune"> CAN</span>HEBERGEMENT</span> 
                </div>
                <div class="col-md-5 text-right menlor p-0">
                    <ul class="menu p-0">
                        <li class=""> <a href="{{ path('nanotech_canhebergement_homepage') }}" class="activ">ACCUEIL</a> </li>
                        <li class="" >
                            <span style="position: relative">
                                <a href="#" class="lgmt">LOGEMENT</a>
                                <span class="sousmenuz smcnt dnone">
                                    <div class="trgl"></div>
                                    <span><a href="{{ path('nanotech_canhebergement_hotel') }}" class="sousm bordsousmen">HÔTEL</a></span>
                                    <span><a href="" class="sousm bordsousmen">MAISON D'HOTE</a></span>
                                    <span><a href="" class="sousm bordsousmen">APPARTEMENT</a></span>
                                    <span><a href="" class="sousm">AUBERGE</a></span>
                                </span>
                            </span> 
                        </li>
                        <li class="rsvt"> <a href="#">RESERVATION</a> </li>
                        <!-- <li class=""> <a href="#">CONTACT</a> </li> -->
                        <li class=""> <a href="#">A PROPOS</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 text-right menlor p-0">
                    <ul class="mencon p-0">
                        <li class=""> <a href="#">Se connecter</a> </li>
                        <li class="ins"> <a href="#">Inscription</a> </li>
                    </ul>
                </div>
            </div>
            <div class="menlat0 menlatX">
                <div class="cls point"><i class="material-icons">close</i></div>
                <div class="menlatin">
                    <ul>
                        <li><a href="#" class="activ">ACCUEIL</a></li>
                        <li><a href="#" class="lgc">LOGEMENT</a></li>
                        <div class="mltsm mltsmno">
                            <li><a href="#" class="menlatinsm">Appartement</a></li>
                            <li><a href="#" class="menlatinsm">Hôtel</a></li>
                            <li><a href="#" class="menlatinsm" >Maison d'hôte</a></li>
                        </div>
                        <!-- <li><a href="#" >CONTACT</a></li> -->
                        <li><a href="#" >A PROPOS</a></li>
                        <li><a href="#" >ACCUEIL</a></li>
                    </ul>
                </div>
            </div>
            <div class="flo">
            </div>
        </div>
    </div>
    <div class="col-sm-12 couv"></div>
    <div class="col-sm-12 couv2 p-0">
        <div class="col-sm-12 conttop">
            <div class="row">
                <div class="col-md-12 logo1 text-center ">
                    <span >
                        <img style="width:104px" src="{{ asset('can/images/logo1.svg') }}">
                    </span>
                </div>
                <div class="col-12 text-center mt-sm-4">
                    <h1 class="h1-r">HEBERGEMENT CAN 2019 </h1>
                    <!-- <span class="h5-responsive">COMME SI VOUS ETIEZ A lA MAISON</span> -->
                </div>
                <div class="col-md-12 mt-sm-5 " id="pta">
                    <form class="container">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <div class="position-relative">
                                    <label class="position-absolute pl-12" for="direct">
                                        <span class="material-icons cl12 labrech">place</span>
                                    </label>
                                    <input type="text" class="mu lh35 inp" id="direct" name="direct" placeholder="Où allez vous ?"/>
                                </div>
                                <span class="sousmenuz smslt direct">
                                    <div class="trgl"></div>
                                    <span><a href="" class="sousm bordsousmen dt">YAOUNDE</a></span>
                                    <span><a href="" class="sousm bordsousmen dt">GAROUA</a></span>
                                    <span><a href="" class="sousm bordsousmen dt">MAROUA</a></span>
                                    <span><a href="" class="sousm dt">DOUALA</a></span>

                                </span>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="position-relative">
                                    <label class="position-absolute pl-12" for="direct">
                                        <span class="material-icons cl12 labrech">search</span>
                                    </label>
                                    <input class="mu lh35 inp" type="text" id="ville" name="ville" placeholder="Type d'établissement ?">
                                </div>
                                <span class="sousmenuz smslt ville">
                                    <div class="trgl"></div>
                                    <span><a href="" class="sousm bordsousmen vl">HÔTEL</a></span>
                                    <span><a href="" class="sousm bordsousmen vl">MAISON D'HOTE</a></span>
                                    <span><a href="" class="sousm bordsousmen vl">APPARTEMENT</a></span>
                                    <span><a href="" class="sousm vl">AUBERGE</a></span>
                                </span>
                            </div>
                            <div class="form-group col-md-1">
                                <div class="position-relative">
                                    <label class="position-absolute pl-12" for="etoile">
                                        <span class="material-icons cl12 labrech">star</span>
                                    </label>
                                    <input type="text" class="mu lh35 inp" id="etoile" name="etoile" placeholder=""/>
                                </div>
                                <span class="sousmenuz smslt etoile">
                                    <div class="trgl"></div>
                                    <span><a href="" class="sousm bordsousmen et" val="5">
                                            <i class="material-icons">star</i>
                                            <i class="material-icons">star</i>
                                            <i class="material-icons">star</i>
                                            <i class="material-icons">star</i>
                                            <i class="material-icons">star</i><span class="cl12 pl-3">(5)+</span></a>
                                    </span>
                                    <span><a href="" class="sousm bordsousmen et" val="4">
                                            <i class="material-icons">star</i
                                            ><i class="material-icons">star</i>
                                            <i class="material-icons">star</i>
                                            <i class="material-icons">star</i><span class="cl12 pl-3">(4)</span></a></span>
                                    <span><a href="" class="sousm bordsousmen et" val="3">
                                            <i class="material-icons">star</i>
                                            <i class="material-icons">star</i>
                                            <i class="material-icons">star</i><span class="cl12 pl-3">(3)</span></a></span>
                                    <span><a href="" class="sousm bordsousmen et" val="2">
                                            <i class="material-icons">star</i>
                                            <i class="material-icons">star</i><span class="cl12 pl-3">(2)</span></a></span>
                                    <span><a href="" class="sousm bordsousmen et" val="1">
                                            <i class="material-icons">star</i><span class="cl12 pl-3">(1)</span></a></span>

                                </span>
                            </div>
                            <div class="form-group col-md-4 ">
                                <div class="row">
                                    <div class="col-sm-6 md-13 mrb10 prx" >Prix-Min: <span id="min_pric" class="jaune">0 </span> XAF</div> <div class="col-sm-6 prx md-13 text-right">Prix-Max: <span id="max_pric" class="jaune">0</span> XAF</div>
                                    <div class="col-sm-12"><div id="slider-range" class=" price-filter-range" name="rangeInput"></div></div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <a class="btn md-12 bt1 point" href='recherche.html#nom'><span class="material-icons dpb2">search</span> Rechercher</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>